section.teaser {
  background: url("../../velafrica/frontend/static/img/home_teaser.jpg") center/cover;
  height: 100%;
  max-height: 700px;

  .content {
    text-align: center;
    color: white;

    .content-overlay {
      h1 {
        align-items: center;
        font-size: 60px;
        font-weight: bold;
      }

      p {
        font-size: 24px;
        font-weight: normal;
      }

      a {
        color: orange;
      }
    }
  }

  .bicycle-search {
    h1 {
      text-align: center;
      color: white;
    }

    .bicycle-submit {
      display: flex;
      justify-content: center;
      padding-top: 3rem;

      input.address {
        height: 4.5rem;
        border-radius: $vel-border-radius;
        padding: 1rem;
        font-size: 18px;
        border-color: transparent;
      }

      a.bicycle-submit-button {
        margin-left: 1rem;
        padding: 1rem 1.5rem;
        color: white;
        font-size: 22px;
        background-color: $velafrica;
        border-radius: $vel-border-radius;
        text-decoration: none;

        &:hover {
          background-color: $velafrica-hover;
        }
      }
    }
  }
}

section.bicycle {

  .bicycle-tracking {

  }
}
