section.teaser {
  background: url("../../velafrica/frontend/static/img/street_burkina_irim.jpg") center/cover;
  padding: 30px 0;

  .container {
    padding-top: 30px;
  }
  .mission > div > div {
    background-color: rgba(white, .8);
    border-radius: $vel-border-radius;
    padding: 30px;
  }

  .bicycle-search {
    & > div > div {
      background-color: rgba(white, .8);
      border-radius: $vel-border-radius;
      padding: 30px;
    }

    .bicycle-submit {
      display: flex;
      justify-content: center;
      padding-top: 3rem;

      input.address {
        height: 4.5rem;
        border-radius: $vel-border-radius;
        padding: 1rem;
        font-size: 18px;
        border-color: transparent;
      }

      a.bicycle-submit-button {
        margin-left: 1rem;
        padding: 1rem 1.5rem;
        color: white;
        font-size: 22px;
        background-color: $velafrica;
        border-radius: $vel-border-radius;
        text-decoration: none;

        &:hover {
          background-color: $velafrica-hover;
        }
      }
    }
  }
}

section.bicycle {

  .bicycle-tracking {

  }
}
