[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
Django = "==2.2.20"
django-cms = "==3.7.4"
django-appconf = "*"
#cmsplugin-filer = "*"
dj-database-url = "*"
django-appdata = "*"
django-autocomplete-light = "!=3.5.1"
django-acme-challenge = "*"
django-cors-headers = "==3.3.0"
django-daterange-filter = "*"
django-filer = "*"
django-filter = "==2.2"
django-polymorphic = ">=2.1.2"
djangorestframework = "*"
requests = "*"
django-rest-swagger = "*"
django-simple-history = "*"
django-import-export = ">=2.1.0"
django-haystack = "*"
gunicorn = "==19.6.0"
django-taggit = "*"
django-paypal = "*"
django-parler = "*"
#aldryn-apphooks-config = "*"
#aldryn-boilerplates = "*"
#aldryn-common = "*"
#aldryn-search = "*"
boto3 = "*"
botocore = "*"
diff-match-patch = "*"
django-mass-edit = "*"
django-meta = "*"
django-meta-mixin = "*"
django-multiselectfield = "*"
django-object-actions = "*"
django-resized = "*"
django-sortedm2m = "*"
django-spurl = "*"
django-standard-form = "*"
django-storages = "==1.8"
django-taggit-autosuggest = "*"
django-taggit-templatetags = "*"
django-templatetag-sugar = "*"
django-webpack-loader = "*"
djangocms-apphook-setup = "*"
djangocms-blog = "==1.0.0rc1"
djangocms-file = "*"
djangocms-inherit = "*"
djangocms-link = "*"
djangocms-picture = "*"
djangocms-teaser = "*"
djangocms-text-ckeditor = "*"
djangocms-video = "*"
docutils = "*"
futures = "*"
googlemaps = "*"
html5lib = "*"
jmespath = "*"
lxml = "*"
psycopg2-binary = "==2.7.7"
python-dateutil = "*"
rollbar = "*"
s3transfer = "*"
tablib = "*"
whitenoise = "*"
Markdown = "*"
URLObject = "*"
YURL = "*"
openpyxl = "!= 3.0.2"
weasyprint = "*"
reportlab = "*"
celery = "*"
django-import-export-celery = {git = "git://github.com/auto-mat/django-import-export-celery"}
django-author = "*"
future = "*"
redis = "*"
zest-releaser = "*"

[requires]
python_version = "3.6"
