BeautifulSoup==3.2.1
boto==2.38.0
chardet==2.3.0
configobj==5.0.6
diff-match-patch==20110725.1
dj-database-url==0.3.0
Django==1.9.6
django-admin-conf-vars==0.3.1
django-autocomplete-light==3.1.6
django-cors-headers==1.1.0
django-crispy-forms==1.5.2
django-daterange-filter==1.2.0
django-filter==0.11.0
django-import-export==0.4.5
django-mass-edit==2.6
django-object-actions==0.8.2
django-resized==0.3.5
django-simple-history==1.8.1
django-storages==1.4
djangorestframework==3.2.3
djangorestframework-jwt==1.7.2
duplicity==0.7.6
folder-color-caja==0.0.79
folder-color-common==0.0.79
gunicorn==19.4.5
lockfile==0.12.2
Markdown==2.6.2
mate-menu==5.7.1
netifaces==0.10.4
Pillow==2.9.0
psycopg2==2.6.1
pycrypto==2.6.1
pygobject==3.20.0
PyJWT==1.4.0
python-cloudfiles==1.7.10
python-xlib==0.14
pytz==2015.4
pyxdg==0.25
requests==2.7.0
six==1.10.0
tablib==0.10.0
urllib3==1.13.1
virtualenv==15.0.2
whitenoise==2.0.6
