{% load staticfiles %}
{% load cms_tags sekizai_tags %}
{% load render_bundle from webpack_loader  %}

<html>
    <head>
        <title>{% page_attribute "page_title" %}</title>
        {% addtoblock "css" %}
            <link href="{% static "bootstrap-3.3.6-dist/css/bootstrap.css" %}" rel="stylesheet">
            <link href="{% static "css/style.css" %}" rel="stylesheet">
        {% endaddtoblock %}
        {% render_block "css" %}
        {% render_bundle 'main' %}
    </head>
    <body>
        {% cms_toolbar %}
        {% block topbar %}
            {# TODO: topbar html #}
        {% endblock %}
        {% placeholder content %}
        {% block content %}

        {% endblock %}

        {% placeholder footer %}
        {% block footer %}
            {# TODO: footer #}
        {% endblock %}

        {% addtoblock "js" %}
            <script src="{% static "js/jquery-2.2.0.min.js" %}"></script>
            <script src="{% static "bootstrap-3.3.6-dist/js/bootstrap.min.js" %}"></script>
        {% endaddtoblock %}

        {% render_block "js" %}
    </body>
</html>