{% load staticfiles %}
{% load cms_tags sekizai_tags %}
{% load render_bundle from webpack_loader %}
{% load menu_tags %}
{% load static %}
{% load i18n %}

<html lang="{{ LANGUAGE_CODE }}">
<head>
  {% block page_title %}
    <title>{% page_attribute "page_title" %}</title>
  {% endblock %}

  {% include "public_site/partials/head.html" %}
  {% render_block "css" %}
</head>
<body>

{% include "public_site/partials/header.html" %}

{% cms_toolbar %}

<main>
  <div class="blog container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        {% placeholder content %}
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </div>
</main>

{% if not nofooter %}
  {% include "public_site/partials/footer.html" %}
{% endif %}

{% if not debug %}{% render_bundle 'main' %}{% endif %}
{% include "google/analytics.html" %}
{% render_block "js" %}

</body>
</html>
