<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Platzh1rsch">

    <title>Velafrica</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap-3.3.6-dist/css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{% static "js/jquery-2.2.0.min.js" %}"></script>
      <script src="{% static "bootstrap-3.3.6-dist/js/bootstrap.min.js" %}"></script>
      <script src="{% static "bootstrap-3.3.6-dist/js/html5shiv.js" %}"></script>
      <script src="{% static "bootstrap-3.3.6-dist/js/respond.min.js" %}"></script>
    <![endif]-->
  
  <!-- HEADER Block to include further JS or CSS -->
  {% block document-head %}{% endblock %}

  </head>

  <body>

    <div class="container">

      <!-- Static navbar -->
      <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img id="navbar-logo" title="Velafrica" alt="Velafrica" src="{% static 'img/velafrica_logo_small.png' %}"></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <!--
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Leagues <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Liga A</a></li>
                <li><a href="#">Liga B</a></li>
                <li><a href="#">Liga C</a></li>
                <li><a href="#">1. Liga Ost</a></li>
                <li><a href="#">1. Liga West</a></li>                
              </ul>
            </li>
          -->
            <li><a href="{% url 'counter' %}" id="velocounter">Velo Counter</a></li>
            <li><a href="{% url 'download' %}" id="download">Downloads</a></li>
            <!--
            <li><a href="{% url 'stock' %}" id="velocounter">Stock</a></li>
            <li><a href="{% url 'transport' %}" id="velocounter">Transport</a></li>
            -->
            <!--<li><a href="/games" id="games">Games</a></li>
            <li><a href="/players" id="players">Players</a></li>
            <li><a href="/about" id="about">About</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>-->
          </ul>
          <ul class="nav navbar-nav navbar-right">

{% if user.is_authenticated %}
            <li><a href="{% url 'profile' %}"><span class="glyphicon glyphicon-user"></span> {{ user.username }}</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
{% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
{% endif %}
          </ul>
        </div><!--/.nav-collipse -->
      </div>
      </div>

      <!-- Breadcrumbs -->
      <div>
        <ol class="breadcrumb">
          <li><a href="/">Home</a></li>
          {% block breadcrumb %}{% endblock %}
        </ol>
      </div>

    
      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        {% block jumbotron-img %}<img src="{% static 'img/velafrica_A4.png' %}">{% endblock %}
        <h1>{% block jumbotron-title %}Partner Portal <sup id="beta-flag">Beta</sup>{% endblock jumbotron-title %}</h1>

        {% block jumbotron %}
        
        <p>Die Seite ist noch im Aufbau.</p>
        
        <p>&copy; 2016, <a href="http://velafrica.ch" target="_blank">Velafrica</a></p> 

        {% endblock jumbotron %}

      </div>

      <div>
        <h2>{% block content-title %}{% endblock %}</h2>
        {% block content %}{% endblock content %}
      </div>

    </div> <!-- /container -->

    <!-- Footer -->
    <div style="background: #efefef; padding-top: 20px; padding-bottom: 20px;">
        <div class="container">
            <footer>
              <p>&copy; 2016, <a href="http://velafrica.ch" target="_blank">Velafrica</a></p>
            </footer>
        </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "js/jquery-2.2.0.min.js" %}"></script>
    <script src="{% static "bootstrap-3.3.6-dist/js/bootstrap.min.js" %}"></script>

    {% block document-foot %}
    {% endblock document-foot %}

    


  </body>
</html>