{% extends "base.html" %}
{% load staticfiles %}

{% block breadcrumb %} 
<li><a href="{% url 'frontend:stock' %}">Stock</a></li>
{% endblock %} 

{% block document-head %}

{% endblock %}

{% block jumbotron-img %}{% endblock %}
{% block jumbotron-title %}
Spare Parts Stock
{% endblock %}

{% block jumbotron %}
<div id="velo-counter-filter">

	<p><span class="label label-warning warehouse_filter reset_filter" data-org-id=0>Alle Lager</span></p>
	<p>
	{% for w in warehouses %}
		<span class="label label-default warehouse_filter single_warehouse" data-warehouse="{{ w.name }}">{{ w.name }}</span>
	{% endfor %}
	</p>
</div>
{% endblock %}

{% block content %}


<!-- seach box -->
<div class="input-group"><span class="input-group-addon">Search:</span> <input id="filter" type="text" class="form-control" /></div>

<table class="table footable" data-page-size=100 data-filter="#filter">
	<thead>
		<tr>
			<th data-sort-initial="true">Artikelnr.</th>
			<th data-hide="phone,tablet">Bild</th>
			<th>Name</th>
			<th data-hide="phone,tablet">Kategorie</th>
			<th data-hide="phone,tablet">Lager</th>
			<th data-type="numeric">Anzahl</th>
		</tr>
	</thead>
	<tbody>
	{% for s in stock %}
		<tr>
			<td>{{ s.product.articlenr }} </td>
			<td>{% if s.product.image %}<img class="stock-image" src="{{ s.product.image.url }}" alt="{{s.product.name}}" title="{{s.product.name}}"> {% endif %}</td>
			<td>{{ s.product.name }}</td>
			<td>{{ s.product.category.name }}</td>
			<td><a href="{% url 'frontend:warehouse_detail' s.warehouse.id %}">{{ s.warehouse.name }}</a></td>
			<td>{{ s.amount }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}

{% block document-foot %}
<!-- include footable -->
<link rel="stylesheet" type="text/css" href="{% static "css/footable.core.min.css" %}" />
<script type="text/javascript" src="{% static "js/footable.all.min.js" %}"></script>

<!-- init footable -->
<script type="text/javascript">
	$(function () {
		$('.footable').footable();
	});

	/* On click event on single warehouse filter */
	$('span.warehouse_filter.single_warehouse').click(function() {
		$('.footable').trigger('footable_filter', {filter: $(this).data('warehouse')});
		$('.warehouse_filter').removeClass('label-warning');
		$('.warehouse_filter').addClass('label-default');
		$(this).addClass('label-warning');
	});

	/* On click event reset filter */
	$('span.warehouse_filter.reset_filter').click(function() {
		$('.footable').trigger('footable_clear_filter');
		$('.warehouse_filter').removeClass('label-warning');
		$('.warehouse_filter').addClass('label-default');
		$(this).addClass('label-warning');
	});
</script>

{% endblock %}