{% extends "base.html" %}
{% load staticfiles %}

{% block breadcrumb %} 
<li><a href="{% url 'frontend:warehouses' %}">Warehouses</a></li>
<li><a href="{% url 'frontend:warehouse_detail' warehouse.id %}">{{warehouse.name}}</a></li>
{% endblock %} 

{% block document-head %}

<script src="/static/js/Chart.min.js"></script>


{% endblock %}

{% block jumbotron-img %}{% endblock %}
{% block jumbotron-title %}
{{ warehouse.name }}
{% endblock %}

{% block jumbotron %}
Organisation: {{ warehouse.organisation }}<br/>
{% if warehouse.get_address %}
	Adresse: {{warehouse.get_address }} (<a href="{{warehouse.get_address.get_googlemaps_url}}" target="_blank">Auf Google Maps anzeigen</a>)<br/>
<!--
	<iframe width="600" height="450" frameborder="0" style="border:0"
	src="https://www.google.com/maps/embed/v1/search?q={{ warehouse.street }}+{{warehouse.street_no}},+{{warehouse.municipality.plz}}+{{warehouse.municipality.name}},+Schweiz&key=AIzaSyAzdwjRWqj_TTq-jW30NpLWK3La6_i2yRM" allowfullscreen></iframe>
	-->
{% endif %}<br/>
{% endblock %}

{% block content %}

<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#rides" aria-controls="rides" role="tab" data-toggle="tab">Fahrten</a></li>
    <li role="presentation"><a href="#velos" aria-controls="velos" role="tab" data-toggle="tab">Velos</a></li>
    <li role="presentation"><a href="#stockmv" aria-controls="stockmv" role="tab" data-toggle="tab">Stock</a></li>
  </ul>


  <!-- Tab panes -->
  <div class="tab-content">
  	<div role="tabpanel" class="tab-pane fade" id="stockmv">

  		<p>Einige Statistiken zu Ein- und Ausgängen von Produkten in diesem Lager. Die Anzahl Ein- und Ausgänge werden über die StockChange Objekte ermittelt, welche beim Verbuchen von StockTransfers erstellt werden.</p>

	  	<div class="input-group"><span class="input-group-addon">Search:</span> <input id="filter" type="text" class="form-control" /></div>

		<table class="table footable" data-page-size=100 data-filter="#filter">
	  		<thead>
				<tr>
					<th>Produkt #</th>
					<th>Produkt</th>
					<th data-type="numeric">in</th>
					<th data-type="numeric">out</th>
					<th data-type="numeric">Differenz</th>
					<th data-type="numeric">aktueller Stock</th>
				</tr>
			</thead>
			<tbody>
				{% for key, values in stock_movements.items %}
				<tr>
	   				<td>{{key.product.articlenr}}</td>
	   				<td>{{key.product.name}}</td>	
	   				<td data-value={{values.0}}><span class="label label-success">{{values.0}}</span></td>
	   				<td data-value={{values.1}}><span class="label label-danger">{{values.1}}</span></td>
	   				<td data-value={{values.2}}><span class="label label-{% if values.2 > 0 %}success{% elif values.2 < 0 %}danger{% else %}default{% endif %}">{{values.2}}</span></td>
	   				<td>{{key.amount}}</td>
	   			</tr>
	    		{% endfor %}
			</tbody>
		</table>
	   		
	</div>
  <div role="tabpanel" class="tab-pane fade" id="velos">
    	Anzahl Velos Eingang / Ausgang, sowie Differenz (Stock).
		<canvas id="myChart" width="400" height="400"></canvas>
	</div>
    <div role="tabpanel" class="tab-pane fade in active" id="rides">
    	<table class="table">
			<tr>
				<th>In / Out</th>
				<th>Datum</th>
				<th>Von</th>
				<th>Nach</th>
				<th>Fahrer</th>
				<th>Fahrzeug</th>
				<th>Velos</th>
				<th>Zustand</th>
				<th>Spare Parts</th>
			</tr>

			{% for r in rides %}
			<tr>
				<td>
					{% if r.from_warehouse == warehouse %}
					<span class="glyphicon glyphicon-arrow-left glyph-ride-out"></span>
					{% else %}
					<span class="glyphicon glyphicon-arrow-right glyph-ride-in"></span>
					{% endif %}
				</td>
				<td>{{ r.date }}</td>
				<td>{{ r.from_warehouse }}</td>
				<td>{{ r.to_warehouse }}</td>
				<td>{{ r.driver }}</td>
				<td>{{ r.car }}</td>
				<td>{% if r.velos <= 0 %}<span class="label label-danger">{% else %}<span class="label label-success">{% endif %}{{ r.velos }}</span></td>
				<td>{{ r.velo_state }}</td>
				<td>{% if r.spare_parts %}<span class="glyph-ride-in glyphicon glyphicon-ok">{% else %}<span class="glyph-ride-out glyphicon glyphicon-remove">{% endif %}</td>
			</tr>


			{% endfor %}
		</table>
    </div>
  </div>

{% endblock %}

{% block document-foot %}

<!-- include footable -->
<link rel="stylesheet" type="text/css" href="{% static "css/footable.core.min.css" %}" />
<script type="text/javascript" src="{% static "js/footable.all.min.js" %}"></script>

<!-- init footable -->
<script type="text/javascript">
	$(function () {
		$('.footable').footable();
	});    

	$(function () {
	// Any of the following formats may be used
	var ctx = document.getElementById("myChart");
	var ctx = document.getElementById("myChart").getContext("2d");
	var ctx = $("#myChart");
	var myChart = new Chart(ctx, {
	    type: 'bar',
	    data: {
	        labels: ["Velos angeliefert", "Velos abtransportiert", "Velos verschifft (Container)", "Stock"],
	        datasets: [{
	            label: 'Anzahl Velos',
	            data: [{{ velos_in }}, -{{ velos_out }}, -{{container_velos_out}}, {{ velo_stock}} ],
	            backgroundColor: [
	                'rgba(255, 99, 132, 0.2)',
	                'rgba(54, 162, 235, 0.2)',
	                'rgba(255, 206, 86, 0.2)',
	                'rgba(75, 192, 192, 0.2)',
	            ],
	            borderColor: [
	                'rgba(255,99,132,1)',
	                'rgba(54, 162, 235, 1)',
	                'rgba(255, 206, 86, 1)',
	                'rgba(75, 192, 192, 1)',
	            ],
	            borderWidth: 1
	        }]
	    },
	    options: {
	        scales: {
	            yAxes: [{
	                ticks: {
	                    beginAtZero:true
	                }
	            }]
	        },
	        responsive: false
	    }
	});
});
</script>

{% endblock %}