{% extends "base.html" %}
{% load staticfiles %}

{% block breadcrumb %} 
<li><a href="{% url 'warehouse_detail' warehouse.id %}">Warehouse</a></li>
{% endblock %} 

{% block document-head %}

<script src="/static/js/Chart.min.js"></script>


{% endblock %}

{% block jumbotron-img %}{% endblock %}
{% block jumbotron-title %}
{{ warehouse.name }}
{% endblock %}

{% block jumbotron %}
Organisation: {{ warehouse.organisation }}
{% endblock %}

{% block content %}

<canvas id="myChart" width="400" height="400"></canvas>

Rides in: {{ rides_in }} <br />
Rides out: {{ rides_out }}<br />
Container out: {{ container_out }} <br /><br />

Velos in: {{ velos_in }}<br/>
Velos out: {{ velos_out }}<br />
Container Velos out: {{ container_velos_out }} <br /><br/>

Stock*: {{ velo_stock }}<br />
* Velos in - Velos out - Container Velos out
{% endblock %}

{% block document-foot %}

<script>
    

	$(function () {
	// Any of the following formats may be used
	var ctx = document.getElementById("myChart");
	var ctx = document.getElementById("myChart").getContext("2d");
	var ctx = $("#myChart");
	var myChart = new Chart(ctx, {
	    type: 'bar',
	    data: {
	        labels: ["Velos angeliefert", "Velos abtransportiert", "Velos verschifft (Container)", "Stock"],
	        datasets: [{
	            label: 'Anzahl Velos',
	            data: [{{ velos_in }}, {{ velos_out }}, {{container_velos_out}}, {{ velo_stock}} ],
	            backgroundColor: [
	                'rgba(255, 99, 132, 0.2)',
	                'rgba(54, 162, 235, 0.2)',
	                'rgba(255, 206, 86, 0.2)',
	                'rgba(75, 192, 192, 0.2)',
	            ],
	            borderColor: [
	                'rgba(255,99,132,1)',
	                'rgba(54, 162, 235, 1)',
	                'rgba(255, 206, 86, 1)',
	                'rgba(75, 192, 192, 1)',
	            ],
	            borderWidth: 1
	        }]
	    },
	    options: {
	        scales: {
	            yAxes: [{
	                ticks: {
	                    beginAtZero:true
	                }
	            }]
	        },
	        responsive: false
	    }
	});
});
</script>

{% endblock %}