{% load static %}
{% load i18n %}

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 social">
        <a href="https://www.facebook.com/Velafrica1/" target="_blank"><img src="{% static "img/facebook.png" %}" alt="facebook"></a>
        <a href="https://www.instagram.com/velafrica/" target="_blank"><img src="{% static "img/instagram.png" %}" alt="instagram"></a>
        <a href="https://www.youtube.com/user/velosfrafrika" target="_blank"><img src="{% static "img/youtube.png" %}" alt="youtube"></a>
      </div>

      <div class="col-md-9">
        <form id="newsletter-form">
          {% csrf_token %}
          <input id="newsletter-subscribe-url" type="hidden" value="{% url 'api:public:subscribe-newsletter' %}">
          <input name="email" id="newsletter-email-field" class="newsletter" type="text" placeholder="{% trans "E-Mail Adresse eingeben" %}">
          <input type="submit" value="{% trans "Newsletter abonnieren" %}"
             class="newsletter-submit-button" id="newsletter-submit">
        </form>
      </div>

    </div>
    <div class="row">
      <div class="col-sm-3 col-xs-6 first-background">

        <h4>{% trans "Über uns" %}</h4>
        <ul class="list-group">
          <li class="list-group-item"><a href="{% url "home:aboutus" %}#history">{% trans "Geschichte" %}</a></li>
          <li class="list-group-item"><a href="{% url "home:aboutus" %}#organisation">{% trans "Organisation" %}</a></li>
          <li class="list-group-item"><a href="{% url "home:aboutus" %}#team">{% trans "Team" %}</a></li>
          <li class="list-group-item"><a href="#">{% trans "Partner Schweiz" %}</a></li>
          <li class="list-group-item"><a href="#">{% trans "Partner Afrika" %}</a></li>
        </ul>

      </div>
      <div class="col-sm-3 col-xs-6">

        <h4>{% trans "Quicklinks" %}</h4>
        <ul class="list-group">
          <li class="list-group-item"><a href="#">{% trans "Blog" %}</a></li>
          <li class="list-group-item"><a href="#">{% trans "Agenda" %}</a></li>
          <li class="list-group-item"><a href="#">{% trans "FAQ" %}</a></li>
          <li class="list-group-item"><a href="#">{% trans "Velafrica Zeitung" %}</a></li>
          <li class="list-group-item"><a href="#">{% trans "Sitemap" %}</a></li>
        </ul>

      </div>

      <div class="clearfix visible-xs-block"></div>

      <div class="col-sm-3 col-xs-6">

        <h4>{% trans "Kontakt" %}</h4>
        <ul class="list-group">
          <li class="list-group-item">Velafrica</li>
          <li class="list-group-item">Waldeggstrasse 27</li>
          <li class="list-group-item">3097 Liebfeld</li>
          <li class="list-group-item">T +41(0)31 979 70 50</li>
          <li class="list-group-item">
            <a class="contact_link" href="mailto:info@velafrica.ch?subject=Kontakt via Webseite">info@velafrica.ch</a>
          </li>
          <li class="list-group-item"><a href="#">Auf Karte anzeigen</a></li>
        </ul>

      </div>

      <div class="col-sm-3 col-xs-6">

        <p><a href="http://seif.org/" target="_blank"><img class="footer-img-self" src="{% static "img/self_label.png" %}"></a></p>
        <p><a href="http://sinnovativ.ch/de/" target="_blank"><img src="{% static "img/sinnovativ.png" %}"></a></p>

      </div>
    </div>
  </div>
</footer>
