{% load static %}
{% load i18n %}

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 first-background">

        <h4>{% trans "Über uns" %}</h4>
        <ul>
          <li><a href="#">{% trans "Geschichte" %}</a></li>
          <li><a href="#">{% trans "Organisation" %}</a></li>
          <li><a href="#">{% trans "Team" %}</a></li>
        </ul>

      </div>
      <div class="col-sm-3">

        <h4>{% trans "Unsere Partner" %}</h4>
        <ul>
          <li><a href="">{% trans "Partner Schweiz" %}</a></li>
          <li><a href="">{% trans "Partner Afrika" %}</a></li>
        </ul>

      </div>
      <div class="col-sm-3">

        <h4>{% trans "News und Termine" %}</h4>
        <ul>
          <li><a href="">{% trans "Blog" %}</a></li>
          <li><a href="">{% trans "Agenda" %}</a></li>
          <li><a href="">{% trans "FAQ" %}</a></li>
          <li><a href="">{% trans "Velafrica Zeitung" %}</a></li>
        </ul>

      </div>
      <div class="col-sm-3">

        <h4>{% trans "Kontakt" %}</h4>
        <p>Velafrica</p>
        <p>Waldeggstrasse 27</p>
        <p>3097 Liebfeld</p>
        <p>T +41(0)31 979 70 50</p>
        <p>info@velafrica.ch</p>
        <p><img src="{% static "img/velafrica_logo_claim.svg" %}"></p>

      </div>
    </div>
  </div>
</footer>
