{% load i18n %}
{% load static %}
{% if not user.is_authenticated %}
<div class="container-fluid betaBanner">
  <div class="row">
    <div class="col-xs-12">
      <div class="text-center">
        Die neue Velafrica-Seite ist noch in der Werkstatt. <a href="http://velafrica.ch">Hier</a> geht es zur aktuellen Seite
      </div>
    </div>
  </div>
</div>
{% endif %}
<div class="header-wrap navbar navbar-default navbar-fixed-top">

  <header>
    <div class="container-fluid">

      <div class="row">
        <div class="col-xs-12 navigation-container">

          <ul class="navigation-left">
            <li>
              <a class="logo" href="http://velafrica.ch">
                <img src="{% static "img/velafrica_logo_claim.svg" %}" alt="">
              </a>
            </li>

          </ul>

          <ul class="navigation-right list-inline">

            <li><a href="{% url "home:aboutus" %}">{% trans "Über uns" %}</a></li>
            <li><a href="#">{% trans "Partner" %}</a></li>
            <li><a href="{% url "home:walkthroughs:collection" %}">{% trans "Mitmachen" %}</a></li>
            <li class="dropdown hidden-xs">

              <button class="btn btn-donation dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                Spenden
                <span class="vel-icon arrow-up-white"></span>
              </button>

              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="{% url "home:donation:home" %}">{% trans "Geldspende" %}</a></li>
                <li><a href="{% url "home:map:home" %}">{% trans "Velospende" %}</a></li>
                <li><a href="#">{% trans "Geschenkidee" %}</a></li>
              </ul>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </header>

</div>
