{% load staticfiles %}
{% load render_bundle from webpack_loader %}
{% load static %}
{% load i18n %}

<link href="{% static "bootstrap-3.3.6-dist/css/bootstrap.css" %}" rel="stylesheet">
<link href="{% static "css/style.css" %}" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

<link rel="icon" type="images/x-icon" type="text/css" href="{% static "img/favicon_velafrica.ch.ico" %}">

{% if debug %}
  {% render_bundle 'main' %}
{% else %}
  {% render_bundle 'styles' 'css' %}
{% endif %}
