{% extends "public_site/base.html" %}
{% load i18n static %}
{% load sekizai_tags %}
{% block page_title %}
  {% trans "Agenda" %}
{% endblock %}

{% block content %}

  {% include "public_site/partials/agenda_teaser.html" %}

  <section id="agenda-detail" class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>{{ event.name }}</h1>
        <p>{{ event.description|safe }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th>{% trans "Veranstaltungs Informationen" %}</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>{% trans "Datum" %}</td>
              <td>
                {% if datetime %}
                  {{ datetime }}
                {% else %}
                  {% for datetime in event.datetimes.all %}
                    {{ datetime.date }} -
                    {{ datetime.time_start }} bis
                    {{ datetime.time_end }} Uhr
                  {% endfor %}
                {% endif %}
              </td>
            </tr>
            <tr>
              <td>{% trans "Kategorie" %}</td>
              <td>{{ event.category }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th>{% trans "Ort" %}</th>
              <th>{% trans "Veranstalter" %}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>
                {{ event.address.street }}<br>
                {{ event.address.zipcode }} {{ event.address.city }}
              </td>
              <td>
                {{ event.organizer }}<br>

              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

  {% include "public_site/partials/agenda_footer.html" %}

{% endblock %}
