{% extends "public_site/base.html" %}
{% load i18n %}

{% block content %}
  <section id="donation-thank-you" class="container-fluid">
    <div class="md-header row">
      <h1 class="md-header-title col-sm-6 col-sm-offset-3 text-center">{% trans "Vielen Dank für<br/> Ihre Spende!" %}</h1>
    </div>
    <div class="md-donation-thank-you row">
      <h3 class="col-sm-6 col-sm-offset-3 text-center">
        <!--https://hofratsuess.tpondemand.com/entity/419-->
        <a href="#todo">{% trans "Unsere Partner in Afrika" %}</a>
      </h3>
      <img src="/static/img/werkstatt.png" alt='{% trans "Velafrica Werkstatt" %}'>
    </div>
  </section>
{% endblock %}
