{% extends "public_site/base.html" %}
{% load i18n %}
{% load sekizai_tags %}
{% block page_title %}
  {% trans "Ihre Spende hilft!" %}
{% endblock %}


{% block content %}
  <section id="donation" class="container-fluid">
    <div class="md-header row">
      <h1 class="md-header-title col-sm-12 text-center">
        {% trans "Ihre Spende bewegt" %}
      </h1>
      <p class="lead col-sm-12 text-center">
        {% trans "Mit Ihrer Spende helfen Sie, dass Menschen im Leben vorwörts kommen.<br/> Vielen Dank für Ihre Unterstützung" %}
      </p>
    </div>
    <div class="md-donate">
      <div class="md-amounts row">
        <h2 class="md-amounts-heading col-sm-12 text-center">
          {% trans "Spendenbetrag" %}
        </h2>
        <div class="md-amounts-panels container">
          {% for amount in amounts %}
            <div class="md-amount-panel col-sm-4 {% cycle 'col-sm-offset-2' '' %} {% if forloop.first %}active{% endif %}" data-amount="{{ amount.amount|floatformat }}">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title text-center">CHF {{ amount.amount|floatformat }}</h3>
                </div>
                <div class="panel-body text-center">
                  <p>{{ amount.description }}</p>
                </div>
              </div>
            </div>
          {% endfor %}
            <div class="md-amount-panel col-sm-4">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title text-center">{% trans "Ihr Betrag" %}</h3>
                </div>
                <div class="panel-body text-center">
                  <p>
                    CHF<input id="custom-amount" type="number" placeholder="{% trans "Betrag eingeben" %}">
                  </p>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="md-paymentoptions row">
        <h2 class="md-paymentoptions-heading col-sm-12 text-center">
          {% trans "Zahlungsart" %}
        </h2>
        <ul class="nav nav-tabs col-sm-6 col-sm-offset-3" role="tablist">
          <li role="presentation" class="md-paypal active">
            <a href="#md-paypal" aria-controls="md-paypal" role="tab"
               data-toggle="tab">{% trans "PayPal" %}</a>
          </li>
          <li role="presentation" class="md-onba">
            <a href="#md-onba" aria-controls="md-onba" role="tab"
               data-toggle="tab">{% trans "E-Banking" %}</a>
          </li>
          <li role="presentation" class="md-invoice">
            <a href="#md-invoice" aria-controls="md-invoice" role="tab"
               data-toggle="tab">{% trans "Einzahlungsschein" %}</a>
          </li>
        </ul>
        <div class="tab-content md-payment-content col-sm-6 col-sm-offset-3">
          <div class="tab-pane active" id="md-paypal">
            <p>{% trans "Spenden Sie sicher, schnell und unkompliziert online via PayPal." %}</p>

            {{ paypalform.render }}
          </div>
          <div class="tab-pane" id="md-onba">
            <p>{% trans "Für Ihre Spende per E-Banking benötigen Sie folgende Informationen:" %}</p>
            <ul>
              <li>{% trans "Spendenkonto: PC 30-7391-3" %}</li>
              <li>{% trans "Empfänger: Stiftung Sinnovativ, Velafrica, 3007 Bern" %}</li>
              <li>{% trans "IBAN: CH27 0900 0000 3000 7391 3" %}</li>
              <li>{% trans "BIC: POFICHBEXXX" %}</li>
            </ul>
          </div>
          <div class="tab-pane row" id="md-invoice">
            <p id="md-invoice-description">{% trans "Erhalten Sie einen Einzahlungsschein per Post." %}</p>
            <h3>{% trans "Kontaktangaben" %}</h3>
            <form class="col-sm-6 col-sm-offset-3" action="{% url "home:donation:order_invoice" %}" method="POST">
              <p class="donation_amount_label">{% trans "Ihr Spendenbetrag" %}</p>
              {% csrf_token %}
              {{ invoiceform.as_p }}
              <input type="submit" value='{% trans "Einzahlungsschein bestellen" %}'>
            </form>
          </div>
        </div>
      </div>
    </div>
    <input type="hidden" id="invoice_redirect_url" value='{% url "home:donation:thank_you" %}'>
    <input type="hidden" id="trans_id_first_name" value='{% trans "Vorname" %}'>
    <input type="hidden" id="trans_id_last_name" value='{% trans "Nachname" %}'>
    <input type="hidden" id="trans_id_address" value='{% trans "Strasse und Haus-Nr." %}'>
    <input type="hidden" id="trans_id_zip" value='{% trans "PLZ und Ort" %}'>
    <input type="hidden" id="trans_id_comment" value='{% trans "Bermerkungen" %}'>
  </section>
{% endblock %}
