{% extends "public_site/base.html" %}
{% load i18n %}
{% load sekizai_tags %}

{% block content %}
  <section id="donation" class="container-fluid">
    <div class="md-header row">
      <h1 class="md-header-title col-sm-12 text-center">
        {% trans "Ihre Spende bewegt" %}
      </h1>
      <p class="lead col-sm-12 text-center">
        {% trans "Mit Ihrer Spende helfen Sie, dass Menschen im Leben vorwörts kommen.<br/> Vielen Dank für Ihre Unterstützung" %}
      </p>
    </div>
    <div class="md-donate">
      <div class="md-amounts row">
        <h2 class="md-amounts-heading col-sm-12 text-center">
          {% trans "Spendenbetrag" %}
        </h2>
        <div class="md-amounts-panels container">
          {% for amount in amounts %}
            <div class="md-amount-panel col-sm-4 {% cycle 'col-sm-offset-2' '' %} {% if forloop.first %}active{% endif %}" data-amount="{{ amount.amount|floatformat }}">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title text-center">CHF {{ amount.amount|floatformat }}</h3>
                </div>
                <div class="panel-body text-center">
                  <p>{{ amount.description }}</p>
                </div>
              </div>
            </div>
          {% endfor %}
            <div class="md-amount-panel col-sm-4">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title text-center">{% trans "Ihr Betrag" %}</h3>
                </div>
                <div class="panel-body text-center">
                  <p>
                    CHF<input id="custom-amount" type="number" placeholder="{% trans "Betrag eingeben" %}">
                  </p>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="md-paymentoptions row">
        <h2 class="md-paymentoptions-heading col-sm-12 text-center">
          {% trans "Zahlungsart" %}
        </h2>
        <ul class="nav nav-tabs col-sm-6 col-sm-offset-3" role="tablist">
          <li role="presentation" class="md-paypal active">
            <a href="#md-paypal" aria-controls="md-paypal" role="tab"
               data-toggle="tab">{% trans "PayPal" %}</a>
          </li>
          <li role="presentation" class="md-onba">
            <a href="#md-onba" aria-controls="md-onba" role="tab"
               data-toggle="tab">{% trans "E-Banking" %}</a>
          </li>
          <li role="presentation" class="md-invoice">
            <a href="#md-invoice" aria-controls="md-invoice" role="tab"
               data-toggle="tab">{% trans "Einzahlungsschein" %}</a>
          </li>
        </ul>
        <div class="tab-content md-payment-content">
          <div class="tab-pane active" id="md-paypal">
            {{ paypalform.render }}
          </div>
          <div class="tab-pane" id="md-onba">
            meep1.
          </div>
          <div class="tab-pane" id="md-invoice">
            <form action="{% url "home:donation:order_invoice" %}" method="POST">
              {% csrf_token %}
              {{ invoiceform.as_p }}
              <input type="submit">
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="md-footprint row text-center">
      <h2 class="col-sm-12">{% trans "CO2-Footprint kompensieren" %}</h2>
      <p class="col-sm-12">
        {% trans "Sie möchten Ihren CO2-Footprint kompensieren und gleichzeitig Velafrica unterstützen? Dank der Zusammenarbeit mit South Pole Carbon geht das ganz einfach: Im Webshop mit dem CO2-Rechner den individuellen Ausstoss berechnen und als Kompensations-Projekt 'Bicycles for Africa' wählen." %}
      </p>
      <a href="" class="col-sm-12">Zu South Pole Carbon</a>
    </div>
    <div class="md-more row">
      <h1 class="col-sm-12 text-center">{% trans "Weitere Spendenarten" %}</h1>
      <div class="row">
        <div class="col-sm-4">
          <h3>{% trans "Velospende" %}</h3>
          <p>{% trans "Spenden Sie sicher, schnell und unkompliziert online via PayPal" %}</p>
          <a href="">{% trans "Mehr erfahren" %}</a>
        </div>
        <div class="col-sm-4">
          <h3>{% trans "Patenschaft" %}</h3>
          <p>{% trans "Spenden Sie sicher, schnell und unkompliziert online via PayPal" %}</p>
          <a href="">{% trans "Mehr erfahren" %}</a>
        </div>
        <div class="col-sm-4">
          <h3>{% trans "Geschenkideen" %}</h3>
          <p>{% trans "Spenden Sie sicher, schnell und unkompliziert online via PayPal" %}</p>
          <a href="">{% trans "Mehr erfahren" %}</a>
        </div>
      </div>
    </div>
    <input type="hidden" id="invoice_redirect_url" value='{% url "home:donation:thank_you" %}'>
  </section>
{% endblock %}
