{% extends "public_site/base.html" %}
{% load i18n %}
{% load content static %}

{% block page_title %}
  {% trans "Wirkung" %}
{% endblock %}

{% block content %}
  <main id="impact">
    <section id="impact-teaser" class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">

          <h1 class="text-center">{% get_content "teaser_title" "Teaser Überschrift - Velos verändern Leben" %}</h1>
          <p>
            {% get_content "teaser_content" "Teaser Content - Velos verändern Leben" %}
          </p>

        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">

          <iframe src="{% get_content "teaser_video" "Video - Velos verändern Leben" %}" frameborder="0"></iframe>

        </div>
      </div>
    </section>
    <section id="impact-swiss"
             style="background: url({% get_content "impact_swiss_teaser_image" "Teaser Bild - Wirkung in der Schweiz" %}) center/cover;">
      <div class="container">
        <div class="row teaser-vel">
          <div class="col-md-6 col-md-offset-6 teaser-white-bg">

            <h2>{% get_content "impact_swiss_title" "Titel - Wirkung in der Schweiz" %}</h2>
            <p class="lead">
              {% get_content "impact_swiss_content" "Content - Wirkung in der Schweiz" %}
            </p>

          </div>
        </div>
      </div>
    </section>
    <section id="impact-swiss-network" class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2  text-center">

          <h2>{% get_content "network_swiss_title" "Titel - Unser Netzwerk" %}</h2>
          <p>
            {% get_content "network_swiss_content" "Content - Unser Netzwerk" %}
          </p>
          <a href="{% url "home:partner:swiss" %}">{% get_content "url_network_swiss" "Link - Zum Netzwerk in der Schweiz" %}</a>
          <img src="{% get_content "swiss_map" "Bild - Schweizer Karte" %}" alt="">

        </div>
      </div>
    </section>
    <section id="impact-integration">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center">

            <h2>{% get_content "velafrica_impact_title" "Titel - Velafrica wirkt" %}</h2>

          </div>
        </div>
        <div class="row impact-tool">
          <div class="col-sm-2 col-sm-offset-3">

            <img src="{% get_content "impact_tool_1" "Bild - Gabelschluessel" %}" alt="">

          </div>
          <div class="col-sm-2">

            <img src="{% get_content "impact_tool_2" "Bild - Kettenblatt" %}" alt="">

          </div>
          <div class="col-sm-2">

            <img src="{% get_content "impact_tool_3" "Bild - Kettenpeitsche" %}" alt="">

          </div>
        </div>
        <div class="row items">
          <div class="col-md-6 item-content">

            <h2>{% get_content "integration_title" "Titel - Integration" %}</h2>
            <p>
              {% get_content "integration_content" "Content - Integration" %}
            </p>

          </div>
          <div class="col-md-6 item-img" style="background:url({% get_content "integration_image" "Bild - Integration" %}) center/cover;"></div>
        </div>
        <div class="row items">
          <div class="col-md-6 item-img" style="background:url({% get_content "workplace_image" "Bild - Arbeitsplätze" %}) center/cover"></div>
          <div class="col-md-6 item-content">

            <h2>{% get_content "workplace_title" "Titel - Arbeitsplätze" %}</h2>
            <p>
              {% get_content "workplace_content" "Content - Arbeitsplätze" %}
            </p>

          </div>
        </div>
        <div class="row items">
          <div class="col-md-6 item-content">

            <h2>{% get_content "recycling_title" "Titel - Recycling" %}</h2>
            <p>
              {% get_content "recycling_content" "Content - Recycling" %}
            </p>

          </div>
          <div class="col-md-6 item-img" style="background:url({% get_content "recycling_image" "Bild - Recycling" %}) center/cover"></div>
        </div>
      </div>
    </section>
    <section id="impact-history-haben" class="container">

      <h2 class="text-center">{% trans "Aus unseren Projekten" %}</h2>
      <div class="row">
        <div class="col-md-3" style="background:url({% get_content "haben_image" "Bild - Haben" %}) center/cover"></div>
        <div class="col-md-9">

          <p class="lead">
            {% trans "Haben Debessay, 28 Jahre <br>Bern, Schweiz" %}
          </p>
          <h2>{% trans "Wie Velos Haben Debessays Leben verändert" %}</h2>
          <p class="lead">
            {% trans "Haben Debessay aus Eritrea lernt dank des Integrationsprojekts Velos zu reparieren. Der grosse Oxmox riet ihr davon ab, da es dort wimmele von bösen Kommata, wilden Fragezeichen und hinterhältigen Semikoli." %}
          </p>
          <a href="#">{% trans "Zu Habens Geschichte" %}</a>

        </div>
      </div>
    </section>
    <section id="impact-africa"
             style="background: url({% get_content "impact_africa_teaser_image" "Teaser Bild - Wirkung in Afrika" %}) center/cover;">
      <div class="container">
        <div class="row teaser-vel">
          <div class="col-md-6 teaser-white-bg">
            <h2>{% trans "Wirkung in Afrika" %}</h2>
            <p class="lead">
              {% trans "Der grosse Oxmox riet ihr davon ab, da es dort wimmele von bösen Kommata, wilden Fragezeichen und hinterhältigen Semikoli, doch das Blindtextchen ließ sich nicht beirren." %}
            </p>
          </div>
        </div>
      </div>

    </section>
    <section id="impact-africa-network" class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2  text-center">

          <h2>{% trans "Unser Netzwerk" %}</h2>
          <p>
            {% trans "In der Schweiz arbeitet Velafrica mit sozialen Einrichtungen zusammen, die Erwerbslose und Menschen mit Beeinträchtigungen beschäftigen. Dank diesem Partnernetzwerk können schweizweit Velos gesammelt und verarbeitet werden. Und nur dank dieser Zusammenarbeit ist es möglich, jährlich 17 000 fahrtüchtige Recycling-Velos zu verschiffen." %}
          </p>
          <a href="{% url "home:partner:africa" %}">{% trans "Zum Netzwerk in Afrika" %}</a>
          <img src="{% get_content "africa_map" "Bild - Afrika Karte" %}" alt="">

        </div>
      </div>
    </section>
    <section id="impact-mobility">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center">

            <h2>{% trans "Afrika wird mobil" %}</h2>

          </div>
        </div>
        <div class="row impact-bicycle">
          <div class="col-sm-2 col-sm-offset-3">

            <img src="{% get_content "water_bearer_image" "Bild - Wassertraeger" %}" alt="">

          </div>
          <div class="col-sm-2">

            <img src="{% get_content "schoolchild_image" "Bild - Schulkind" %}" alt="">

          </div>
          <div class="col-sm-2">

            <img src="{% get_content "medicine_image" "Bild - Medizin" %}" alt="">

          </div>
        </div>
        <div class="row items">
          <div class="col-md-6 item-content">

            <h2>{% trans "Mobilität für alle" %}</h2>
            <p>
              {% trans "Die meisten unserer Partner bieten – wie die Velowerkstatt des Drahtesels – Integrationsarbeitsplätze für Erwerbslose oder benachteiligte Menschen an. " %}
            </p>

          </div>
          <div class="col-md-6 item-img" style="background:url({% get_content "mobility_image" "Bild - Mobilität für alle" %}) center/cover;"></div>
        </div>
        <div class="row items">
          <div class="col-md-6 item-img" style="background:url({% get_content "education_image" "Bild - Bildung" %}) center/cover"></div>
          <div class="col-md-6 item-content">

            <h2>{% trans "Bildung" %}</h2>
            <p>
              {% trans "Die meisten unserer Partner bieten – wie die Velowerkstatt des Drahtesels – Integrationsarbeitsplätze für Erwerbslose oder benachteiligte Menschen an. " %}
            </p>

          </div>
        </div>
        <div class="row items">
          <div class="col-md-6 item-content">
            <h2>{% trans "Sociales Unternehmertum" %}</h2>
            <p>
              {% trans "Die meisten unserer Partner bieten – wie die Velowerkstatt des Drahtesels – Integrationsarbeitsplätze für Erwerbslose oder benachteiligte Menschen an. " %}
            </p>
          </div>
          <div class="col-md-6 item-img"
               style="background:url({% get_content "social_image" "Bild - Sociales Unternehmertum" %}) center/cover"></div>
        </div>
      </div>
    </section>
    <section id="impact-history-graidess" class="container">
      <h2 class="text-center">{% trans "Hier steht ein passender Titel" %}</h2>
      <div class="row">
        <div class="col-md-3" style="background:url({% get_content "graidess_image" "Bild - Graidess" %}) center/cover"></div>
        <div class="col-md-9">

          <p class="lead">
            {% trans "Graidess Alphonce, 36 Jahre <br>Nshamba, Tansania" %}
          </p>
          <h2>{% trans "Wie Velos Haben Debessays Leben verändert" %}</h2>
          <p class="lead">
            {% trans "Haben Debessay aus Eritrea lernt dank des Integrationsprojekts Velos zu reparieren. Der grosse Oxmox riet ihr davon ab, da es dort wimmele von bösen Kommata, wilden Fragezeichen und hinterhältigen Semikoli." %}
          </p>
          <a href="#">{% trans "Zu Graidess' Geschichte" %}</a>

        </div>
      </div>
    </section>
    <section id="information" class="impact-information">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">

            <h1 class="text-center">{% trans "Sie möchten mitmachen?" %}</h1>
            <p class="text-center">
              {% trans "Es gibt vielseitige Möglichkeiten, sich mit Velafrica zu engagieren. Es packte seine sieben Versalien, schob sich sein Initial in den Gürtel und machte sich auf den Weg." %}
            </p>

          </div>
        </div>
        <div class="row equal">
          <div class="col-sm-6 col-lg-3">
            <div class="panel panel-default">
              <a href="{% url "home:donation:home" %}">
                <div class="panel-body">

                  <p>{% trans "Für Velafrica spenden" %}</p>

                </div>
                <div class="panel-footer text-center">

                  {% trans "Mehr erfahren" %}

                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="panel panel-default">
              <a href="{% url "home:map:home" %}">
                <div class="panel-body">

                  <p>{% trans "Velo spenden" %}</p>

                </div>
                <div class="panel-footer text-center">

                  {% trans "Mehr erfahren" %}

                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="panel panel-default">
              <a href="{% url 'home:walkthroughs:collection' %}">
                <div class="panel-body">

                  <p>{% trans "Sammelanlass organisieren" %}</p>

                </div>
                <div class="panel-footer text-center">

                  {% trans "Mehr erfahren" %}

                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="panel panel-default">
              <a href="{% url 'home:walkthroughs:company' %}">
                <div class="panel-body">

                  <p>{% trans "Als Firma engagieren" %}</p>

                </div>
                <div class="panel-footer text-center">

                  {% trans "Mehr erfahren" %}

                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock %}
