{% extends "public_site/base.html" %}
{% load i18n %}
{% load content %}

{% block page_title %}
  {% trans "Impressum" %}
{% endblock %}

{% block content %}
  <section id="impressum">

    <div class="container-fluid text-center">
      <h1>{% trans "Impressum" %}</h1>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xs-12">

          <h4>Velafrica</h4>
          <p>
            Waldeggstrasse 37<br>
            3097 Liebefeld<br>
            <a href="mailto:info@velafrica.ch">info@velafrica.ch</a><br>
            T +31 979 70 50<br>
          </p>

          <h4>Velafrica ist ein Unternehmen des Drahtesels.</h4>
          <p>
            <a target="_blank" href="http://drahtesel.ch">drahtesel.ch</a>
          </p>

          <h4>Trägerin ist die Stiftung Sinnovativ.</h4>
          <p>
            <a target="_blank" href="http://sinnovativ.ch">sinnovativ.ch</a>
          </p>


          <h4>Spenden</h4>
          <p>
            Postkonto: 30-7391-3<br>
            IBAN: CH27 0900 0000 3000 7391 3<br>
          </p>


          <h4>Copyright Bild & Text</h4>
          <p>
            ©Velafrica<br>
            Bitte nutzen Sie Texte, Fotos, Logos oder anderen Inhalt unserer Website nicht ohne einen Zusammenhang mit
            Velafrica. Alle Logos und Bilder sind in Besitz von Velafrica. Falls Sie Texte, Fotos oder anderen Inhalt
            unserer Website nutzen möchten, senden Sie ein E-Mail an info@velafrica.ch. Vielen Dank.
          </p>

          <h4>Agentur</h4>
          <p>
            Vision, Strategie, Konzeption, UX, Design, Umsetzung<br>
            Hofrat Suess AG, <a target="_blank" href="http://hofratsuess.ch">hofratsuess.ch</a>, <a
                  href="mailto:hs@hofratsuess.ch">hs@hofratsuess.ch</a><br>
          </p>

        </div>
      </div>
    </div>

  </section>
{% endblock %}
