{% extends "public_site/base.html" %}
{% load i18n %}
{% load static %}
{% load content %}
{% load humanize %}
{% load swissint %}
{% load thumbnail cms_tags %}
{% load md5 %}
{% load social_media %}
{% load s3 %}

{% block page_title %}
  {% trans "Velafrica" %}
{% endblock %}

{% block content %}

  <main>
    <section id="teaser-welcome"
             style="background: url('{% get_content "first_background_image" "Hintergrundbild des ersten Teasers" %}') center/cover">

      <div class="container">
        <div class="row teaser-vel">
          <div class="col-md-6 teaser-white-bg">

            <h1>{% get_content "teaser_heading" "Überschrift auf ersten Teaser" %}</h1>

            <p class="lead">
              {% get_content "teaser_lead" "Text auf ersten Teaser" %}
            </p>

            <a href="{% url "home:aboutus" %}">{% get_content "teaser_readmore" '"Erfahren Sie Mehr" Link auf ersten Teaser' %}</a>

          </div>
        </div>
      </div>

      <div class="container bicycle-search">
        <div class="row teaser-vel">
          <div class="col-md-6 text-center teaser-white-bg">

            <h2>{% get_content "velo_search_heading" "Überschrift Sammelstellensuche" %}</h2>
            <p class="lead">
              {% get_content "velo_search_lead" "Text Sammelstellenfsuche" %}
            </p>

            <div class="bicycle-submit">
              <form action="{% url "home:map:home" %}" method="get">
                <input name="search" class="postal-code" type="text"
                       placeholder="{% get_content "velo_search_placeholder" "Input Platzhalter Sammelstellensuche" %}">
                <input type="submit" value="{% get_content "velo_search_button" "Button Sammelstellensuche" %}"
                       class="bicycle-submit-button">
              </form>
            </div>

            <a class="collection-event-link"
               href="{% url 'home:walkthroughs:collection' %}">{% get_content "velo_search_link" '"Sammelanlass organisieren" Link' %}</a>

          </div>
        </div>
      </div>

    </section>

    <section id="bicycle-statistic">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">

            <h1 class="big-number">{{ velo_count|intcomma|swissint|safe }}</h1>

            <h2>{% get_content "tracking_heading" "Überschrift zum Tracking Teaser" %}</h2>

            <a href="{% url "home:tracking:general" %}">{% get_content "tracking_read_more" "Readmore Link bei Tracking Teaser" %}</a>

          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 text-center">
            <img src="{% static "img/frau_kind_663x664.gif" %}" alt="">

            <h2>{% get_content "tracking_search_heading" "Überschrift Tracking Suche" %}</h2>

            <div class="bicycle-tracking">
              <form id="tracking-code-form">
                <input class="tracking-code" type="text"
                       placeholder="{% get_content "tracking_search_placeholder" "Input Platzhalter Tracking Suche" %}">
                <input type="submit"
                       class="tracking-submit-button"
                       value="{% get_content "tracking_search_button" "Button Tracking Suche" %}">
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="organize">
      <div class="container">
        <div class="row teaser-vel">
          <div class="col-md-6 col-md-offset-6 teaser-white-bg">
            <h2>{% get_content "organize_heading" "Überschrift zweiter Teaster" %}</h2>

            <p class="lead">
              {% get_content "organize_lead" "Text zweiter Teaser" %}
            </p>

            <a href="{% url 'home:walkthroughs:collection' %}">{% get_content "organize_link" '"Anleitung ansehen" Link' %}</a>
          </div>
        </div>
      </div>
    </section>

    <section id="join-us">
      <div class="container text-center">

        <h1>{% get_content "join_us_heading" "Überschrift Mitmachen" %}</h1>
        <div class="row equal">

          <div class="col-sm-6 col-lg-3">
            <div class="panel panel-default">
              <a href="{% url 'home:walkthroughs:bicycle' %}">
                <div class="panel-body">
                  <div style="background:url({% static "img/velos_entsorgen.jpg" %}) center/cover;"></div>
                </div>
                <div class="panel-footer text-center">
                  {% get_content "join_us_panel_collection" "Mitmachen Panel - Velos entsorgen" %}
                </div>
              </a>
            </div>
          </div>

          <div class="col-sm-6 col-lg-3">
            <div class="panel panel-default">
              <a href="{% url 'home:walkthroughs:school' %}">
                <div class="panel-body">
                  <div style="background:url('{% static "img/schueler.jpg" %}') center/cover;"></div>
                </div>
                <div class="panel-footer text-center">
                  {% get_content "join_us_panel_school" "Mitmachen Panel - Schule" %}
                </div>
              </a>
            </div>
          </div>

          <div class="col-sm-6 col-lg-3">
            <div class="panel panel-default">
              <a href="{% url 'home:walkthroughs:voluntary' %}">
                <div class="panel-body">
                  <div style="background:url({% static "img/freiwillige_haende.jpg" %}) center/cover;"></div>
                </div>
                <div class="panel-footer text-center">
                  {% get_content "join_us_panel_voluntary" "Mitmachen Panel - Freiwillige" %}
                </div>
              </a>
            </div>
          </div>

          <div class="col-sm-6 col-lg-3">
            <div class="panel panel-default">
              <a href="{% url 'home:walkthroughs:company' %}">
                <div class="panel-body">
                  <div style="background:url({% static "img/angebote_firmen.jpg" %}) center/cover;"></div>
                </div>
                <div class="panel-footer text-center">
                  {% get_content "join_us_panel_company" "Mitmachen Panel - Firmen" %}
                </div>
              </a>
            </div>
          </div>

        </div>
      </div>
    </section>

    <section id="news">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">

            <h1 class="text-center">{% get_content "news_heading" "Überschrift News" %}</h1>
            <p class="text-center">{% get_content "news_lead" "Text News" %}</p>

          </div>
          <div class="col-md-8 col-md-offset-2">
            <article id="post-{{ blog_post.slug }}">
              <div class="post_container">
                <span class="post_date">
                  {{ blog_post.date_published|date:"DATE_FORMAT" }}
                </span>
                <h2>{{ blog_post.title }}</h2>

                {% if blog_post.main_image %}
                  <div class="blog-visual">
                    {% thumbnail blog_post.main_image 1360x500 crop=blog_post.thumbnail_options.crop upscale=blog_post.thumbnail_options.upscale subject_location=blog_post.main_image.subject_location as thumb %}
                    <img src="{{ thumb.url }}" alt="{{ blog_post.main_image.default_alt_text }}"
                         width="100%"/>
                  </div>
                  <div class="blog-abstract">
                    <p>
                      {{ blog_post.abstract }}
                    </p>
                  </div>
                {% endif %}
                <footer class="read-more">
                  <a href="{{ blog_post.get_absolute_url }}">{% trans "read more" %} &raquo;</a>
                </footer>
              </div>
            </article>
            <div class="blog_url">

              <a class="text-center" href="/pages/blog/">{% get_content "news_link" "Link News" %}</a>

            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="socialwall">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">

            <h1>{% get_content "socialwall_heading" "Überschrift Socialwall" %}</h1>
            <p class="lead">
              {% get_content "socialwall_lead" "Text Socialwall" %}
            </p>
            {% include "public_site/partials/socialwall_with_limited_height.html" %}

          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 text-center social-link">

            <a href="{% url 'home:socialwall' %}">{% get_content "socialwall_link" "Link Socialwall" %}</a>

          </div>
        </div>
      </div>
    </section>

  </main>


{% endblock %}

