{% extends "public_site/base.html" %}
{% load sekizai_tags %}
{% load i18n %}

{% block content %}
  <section class="map">
    <div id="map"></div>
    <div class="searchfield">
      <input type="text">
      <button>{% trans "Suchen" %}</button>
    </div>
  </section>
  {% addtoblock "js" %}
    <script>
      var VAM = {
        map: {
          instance: {},
          marker: {},
          openedInfoWindow: undefined,
          addMarker: function(options) {
            var marker = new google.maps.Marker({
              map: VAM.map.instance,
              title: options.title,
              position: { lat: options.lat, lng: options.lng }
            });


            var content = options.content;
            var infoWindow = new google.maps.InfoWindow();

            google.maps.event.addListener(marker, 'click', (function(marker, content, infowindow) {

              return function() {
                if(VAM.map.openedInfoWindow !== undefined) {
                VAM.map.openedInfoWindow.close();
              }
              VAM.map.openedInfoWindow = infowindow;
                 infowindow.setContent(content);
                 infowindow.open(VAM.map.instance,marker);
              };
            })(marker, content, infoWindow));
            /*
            marker.content = ;
            infoWindow = new google.maps.InfoWindow({
              content: marker.content
            });
             marker.addListener('click', function() {
             if(VAM.map.openedInfoWindow !== undefined) {
             VAM.map.openedInfoWindow.close();
             }
             infoWindow.open(VAM.map.instance, marker);
             VAM.map.openedInfoWindow = infoWindow;
             })*/
          }
        },
        objects: {},
        initMap: function() {
            this.map.instance = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 46.798473, lng: 8.231726 },
            zoom: 8
          });
          this.getMapData();
        },
        getMapData: function() {
          $.getJSON('{{ map_data_url }}', function(data) {
            $.each(data, function(index, value) {
              VAM.objects[value.id] = value;
              options = {
                title: value.name,
                lat: Number(value.address.latitude),
                lng: Number(value.address.longitude),
                content: '',
              };

              var content = '<h3>' + value.name + '</h3>' +
                        '<p>' + value.opening_time + '</p>';
              options.content = content;
              VAM.map.addMarker(options);
            });
          })
        }
      };


    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=VAM.initMap">
    </script>
  {% endaddtoblock %}

{% endblock %}

