{% extends "public_site/base.html" %}
{% load i18n %}
{% load s3 %}

{% block page_title %}
  {% trans "Wo ist mein Velo?" %}
{% endblock %}

{% block content %}

  <section id="tracking-code">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-8 col-md-offset-2">

          <h2>{% trans "Tracking-Nr." %} {{ tracking.tracking_no }}</h2>
          <h1>{% trans "Was gerade mit Ihrem Velo geschieht" %}</h1>

        </div>
        <div class="col-md-2">

          <img src="http://placehold.it/35" alt="">
          <img src="http://placehold.it/35" alt="">

        </div>
      </div>
    </div>
  </section>

  <section id="tracking-events">
    <div class="container">

      {% for event in tracking_events %}

        <div class="row">
          <div class="col-xs-12 text-center">

            <span class="label label-default tracking-date" data-date="{{ event.datetime|date:"m/d/Y" }}">{{ event.datetime|date:"d.m.Y"}}</span>

          </div>
        </div>

        <div class="row">
          <div class="{% if forloop.counter == 1 %} col-xs-12 {% else %}col-md-8 col-md-offset-2 {% endif %}">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title text-center">{{ event.event_type.name }}</h2>
              </div>
              <div class="panel-body row">
                <p class="{% if forloop.counter == 1 %} col-md-8 col-md-offset-2 {% else %}col-md-12{% endif %}">{{ event.event_type.description }}</p>
                <img src="{% s3 event.event_type.image %}" alt="">
              </div>
            </div>
          </div>
        </div>

      {% endfor %}

    </div>
  </section>

  <section id="information">
    <div class="container">
      <div class="row">

        <h2 class="text-center">{% trans "Weitere Informationen rund um Velafrica" %}</h2>

        <div class="col-sm-6 col-lg-3">

          <div class="panel panel-default">
            <a href="#">
              <div class="panel-body">
                <p>{% trans "Welche Partner in Afrika mit uns arbeiten" %}</p>
              </div>
              <div class="panel-footer text-center">
                {% trans "Mehr erfahren" %}
              </div>
            </a>
          </div>

        </div>

        <div class="col-sm-6 col-lg-3">
          <div class="panel panel-default">
            <a href="#">
              <div class="panel-body">
                <p>{% trans "Welche Stationen Ihr gespendetes Velo noch durchlaufen wird" %}</p>
              </div>
              <div class="panel-footer text-center">
                {% trans "Mehr erfahren" %}
              </div>
            </a>
          </div>
        </div>

        <div class="col-sm-6 col-lg-3">
          <div class="panel panel-default">
            <a href="#">
              <div class="panel-body">
                <p>{% trans "Wer steht hinter Velafrica?" %}</p>
              </div>
              <div class="panel-footer text-center">
                {% trans "Mehr erfahren" %}
              </div>
            </a>
          </div>
        </div>

        <div class="col-sm-6 col-lg-3">
          <div class="panel panel-default">
            <a href="#">
              <div class="panel-body">
                <p>{% trans "Aktuelle News rund um Velafrica und Velo" %}</p>
              </div>
              <div class="panel-footer text-center">
                {% trans "Mehr erfahren" %}
              </div>
            </a>
          </div>
        </div>

      </div>
    </div>
  </section>

{% endblock %}
