{% extends "public_site/base.html" %}
{% load i18n %}
{% load s3 %}
{% load static %}
{% load content %}
{% load social_media %}

{% block page_title %}
  {% trans "Wo ist mein Velo?" %}
{% endblock %}

{% block head_meta %}
  <meta property="fb:app_id" content="{% facebook_app_id %}"/>
  <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="Velafrica Velo Tracking"/>
  <meta property="og:description" content="Ich habe mein altes Velo gespendet. Jetzt ist es auf dem Weg nach Afrika."/>
  <meta property="og:image" content="http://files.velafrica.ch.s3.amazonaws.com/tracking/eventtypes/IMG_3425.JPG"/>
{% endblock %}

{% block content %}

  <section id="tracking-code">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-8 col-md-offset-2">

          <h2>{% trans "Tracking-Nr." %} {{ tracking.tracking_no }}</h2>
          <h1>{% get_content "heading" "Überschrift der persönlichen Tracking Seite" %}</h1>

        </div>
      </div>
    </div>
  </section>

  <section id="tracking-events">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <a class="donation-link" href="{% url 'home:donation:home' %}">{% get_content "text_donation_link" "Text für den Link zur Spendenseite" %}</a>
        </div>
      </div>
      {% for event in tracking_events %}

        <div class="row">
          <div class="col-xs-12 text-center">

            <span class="label label-default tracking-date"
                  data-date="{{ event.datetime|date:"m/d/Y" }}">{{ event.datetime|date:"d.m.Y"}}
            </span>

          </div>
        </div>

        <div class="row">
          <div class="{% if forloop.counter == 1 %} col-xs-12 {% else %}col-md-8 col-md-offset-2 {% endif %}">
            <div class="panel panel-default">
              <div class="panel-heading">

                <h2 class="panel-title text-center">
                  {{ event.event_type.name }}
                  {% if forloop.counter == 1 %}
                    <social class="align-center text-center">
                      {% sharing_buttons "Ich habe mein altes Velo gespendet. Jetzt ist es auf dem Weg nach Afrika." %}
                    </social>
                  {% endif %}
                </h2>

              </div>
              <div class="panel-body row">

                <p class="{% if forloop.counter == 1 %} col-md-8 col-md-offset-2 {% else %}col-md-12{% endif %}">{{ event.event_type.description }}</p>
                <img src="{% s3 event.event_type.image %}" alt="">

              </div>
            </div>
          </div>
        </div>

      {% endfor %}

    </div>
  </section>

  <section id="information">
    <div class="container">
      <h2 class="text-center">{% get_content "information_heading" "Überschrift Weitere Informationen" %}</h2>
      <div class="row equal">


        <div class="col-sm-6 col-lg-3">

          <div class="panel panel-default">
            <a href="#">
              <div class="panel-body">
                <p>{% trans "Welche Partner in Afrika mit uns arbeiten" %}</p>
              </div>
              <div class="panel-footer text-center">
                {% trans "Mehr erfahren" %}
              </div>
            </a>
          </div>

        </div>

        <div class="col-sm-6 col-lg-3">
          <div class="panel panel-default">
            <a href="#">
              <div class="panel-body">
                <p>{% trans "Welche Stationen Ihr gespendetes Velo noch durchlaufen wird" %}</p>
              </div>
              <div class="panel-footer text-center">
                {% trans "Mehr erfahren" %}
              </div>
            </a>
          </div>
        </div>

        <div class="col-sm-6 col-lg-3">
          <div class="panel panel-default">
            <a href="#">
              <div class="panel-body">
                <p>{% trans "Wer steht hinter Velafrica?" %}</p>
              </div>
              <div class="panel-footer text-center">
                {% trans "Mehr erfahren" %}
              </div>
            </a>
          </div>
        </div>

        <div class="col-sm-6 col-lg-3">
          <div class="panel panel-default">
            <a href="#">
              <div class="panel-body">
                <p>{% trans "Aktuelle News rund um Velafrica und Velo" %}</p>
              </div>
              <div class="panel-footer text-center">
                {% trans "Mehr erfahren" %}
              </div>
            </a>
          </div>
        </div>

      </div>
    </div>
  </section>

{% endblock %}
