{% extends "public_site/base.html" %}
{% load i18n static %}
{% load content %}

{% block page_title %}
  {% trans "Partner" %}
{% endblock %}

{% block content %}

  <section id="partner-{{ section_id }}-teaser">
    <div class="container-fluid">
      <div class="container">
        <div class="row">
          <div class="col-md-6">

            <img id="{{ section_id }}-img-teaser" src="{% get_content "p_swiss_map" "Bild - Schweizer Karte" %}" alt="">

          </div>
          <div class="col-md-5 col-md-offset-1 bg-white">

            <h2>{% trans "Dichtes Partnernetzwerk in der Schweiz" %}</h2>
            <p class="lead">
              {% trans "Dank der engen Zusammen aribet mit Unternehmen aus dem sozialen Bereich können pro Jahr über 20'000 Velos gesammelt und instand gestzt werden." %}
            </p>

          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid bg-brown-6">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">

            <p>
              {% trans "In der Schweiz arbeitet Velafrica mit sozialen Einrichtungen zusammen, die Erwerbslose und Menschen mit Beeinträchtigungen beschäftigen. Dank diesem Partnernetzwerk können schweizweit Velos gesammelt und verarbeitet werden. Und nur dank dieser Zusammenarbeit ist es möglich, jährlich 17 000 fahrtüchtige Recycling-Velos zu verschiffen." %}
            </p>

          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid" id="{{ section_id }}-section-img"
         style="background:url({% get_content "p_swiss_teaser_image" "Bild - Teaser Partner Schweiz Bild" %});"></div>
  </section>

  <section id="partner-swiss-big" class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="text-center">{% trans "Unsere Partner in der Schweiz" %}</h2>
        <p class="lead">
          {% trans "Der grosse Oxmox riet ihr davon ab, da es dort wimmele von bösen Kommata, wilden Fragezeichen und hinterhältigen Semikoli, doch das Blindtextchen ließ sich nicht beirren. " %}
        </p>
      </div>
    </div>
  </section>

  <section id="partner-{{ section_id }}">

    <div class="container">
      <div class="row teasered">
        {% for partner in teaserd %}
          {# teaserd partners going here #}
          <a href="{{ partner.link }}" target="_blank">
            <div class="col-md-6">

              <div class="partner-for"
                   style="background:linear-gradient(to top, rgba(0,0,0,1) 20%,rgba(0,0,0,.8) 41%,rgba(0,0,0,0) 100%), url('http://lorempixel.com/600/300/people/') center/cover;border-radius:3px;">
                <div class="partner-top">
                  <h2>{{ partner.name }}</h2>
                  <p>{{ partner.location }}</p>
                </div>
                <div class="partner-bottom">
                  <p>{{ partner.category|truncatechars:50 }}</p>
                </div>

              </div>
            </div>
          </a>
        {% endfor %}
      </div>

      <div class="row">
        {% for partner in partners %}
          {# "normal" partners #}

          {% if not forloop.counter0 == 0 and forloop.counter0|divisibleby:2 %}
            </div>
            <div class="row">
          {% endif %}

          <div class="col-md-6">
            <div class="partner-for-small">
              <div class="partner-img">

                <img src="{{ partner.image }}" alt="{{ partner.name }}">

              </div>
              <div class="partner-content">
                <div class="partner-content-top">
                  <a href="{{ partner.link }}" target="_blank">
                    <h4>{{ partner.name|truncatechars:38 }}</h4>
                  </a>
                  <p>{{ partner.location }}</p>
                </div>
                <div class="partner-content-bottom">
                  <p>{{ partner.category|truncatechars:50 }}</p>
                </div>

              </div>
            </div>
          </div>
        {% endfor %}
        </div>
    </div>

  </section>
{% endblock %}
