{% extends "public_site/base.html" %}
{% load i18n %}
{% load content %}

{% block page_title %}
  {% trans "Partner" %}
{% endblock %}

{% block content %}
  <section id="partner-{{ section_id }}">

    <div class="container">
      <div class="text-center">
        <h1 class="partner-heading">{% get_content "heading" "Überschrift der Partner Seite" %}</h1>
      </div>
      {% for name, partners in locations.items %}

        <div class="row">
          <div class="col-xs-12">
            <h2>{{ name }}</h2>
          </div>
          {% for partner in partners %}
            <div class="col-xs-12 col-md-6">
              <div class="partner">
                {% if partner.link %}
                <a href="{{ partner.link }}" class="partner-name">{{ partner.name }}</a>
                {% else %}
                  <h3 class="partner-name">{{ partner.name }}</h3>
                {% endif %}

                <h3 class="partner-location">{{ partner.city }}, {{ partner.location }}</h3>
                <p class="partner-description">{{ partner.description }}</p>
              </div>
            </div>

          {% endfor %}

        </div>

      {% endfor %}

    </div>
  </section>
{% endblock %}
