{% extends "public_site/base.html" %}
{% load i18n %}

{% block page_title %}
  {% trans "Bestellen Sie ein SBB Ticket für Ihr Velo" %}
{% endblock %}

{% block content %}


  <section id="sbb-ticket-order" class="container-fluid">

    {% if success %}

      <div class="row text-center">
        <div class="col-xs-12 checkmark">
          <h1>
            {% trans "Ticket bestellt" %}
          </h1>

          <p class="lead">
            {% blocktrans %}
              Die Bestellung wird Ihnen in ein paar Tagen per Post zugestellt. Wir freuen uns über Ihre
              Velo-Spende.
              Vielen Dank! <br><a href="{{ donation_url }}">Unterstützen Sie uns weiter</a>
            {% endblocktrans %}
          </p>
        </div>
      </div>

    {% else %}

      <div class="row text-center bg-brown-4">
        <div class="col-xs-12">

          <h1>{% trans "SBB-Transportetikette bestellen" %}</h1>
          <h2>{% trans "Gepäckschalter" %}</h2>
          <p class="lead">{{ dropoff }}</p>

        </div>
      </div>
      <div class="row">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-md-offset-4">

              <form action="" method="POST">
                {% csrf_token %}
                <input type="hidden" id="id_dropoff" value="{{ dropoff.id }}">

                <div class="sbb-form">
                  {% for field in form %}
                    <div class="form-group">
                      {{ field }}{{ field.errors }}
                    </div>
                  {% endfor %}
                  <input type="submit" class="btn btn-send center-block" value="Absenden">
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>

    {% endif %}
  </section>

{% endblock %}
