{% extends "public_site/base.html" %}
{% load i18n %}
{% load sekizai_tags %}
{% block page_title %}
  {% trans "Unterstützer" %}
{% endblock %}

{% block content %}
  <section class="supporter">
    <div class="container">
      <div class="row">
          {% for supp in supporter %}
            {% if not forloop.counter0 == 0 and forloop.counter0|divisibleby:3 %}
              </div>
              <div class="row">
            {% endif %}

            <div class="col-xs-12 col-sm-4">
              <div class="media">
                <div class="media-left">
                  <a href="{{ supp.link }}" target="_blank">
                    <img class="media-object" src="{{ supp.image }}" alt="">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">{{ supp.name }}</h4>
                  <p>{{ supp.description }}</p>
                </div>
              </div>
            </div>
          {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}
