{% extends "public_site/base.html" %}
{% load i18n %}

{% block content %}

  <main id="about-us">
    <section id="history">
      <div class="container">
        <div class="row teaser-vel">
          <div class="col-xs-12 teaser-white-bg">
            <h2>Paolo Richters Initiative schreibt Erfolgsgeschichte</h2>
            <p class="lead">
              Vor über 20 Jahren verliessen die ersten 300 Recycling-Velos die Schweiz Richtung Ghana.
              Bis heute folgten über 150 000 weitere.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section id="history-content">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1 class="text-center">Geschichte</h1>

            <h4>Kreative Problemlösung</h4>
            <p>Am Anfang stand die hohe Arbeitslosenquote in der Schweiz zu Beginn der neunziger Jahre. Aus Paolo
              Richters
              Leidenschaft – die Instandstellung von alten Velos – entwickelte sich die Recycling-Werkstatt mit
              Arbeitsplätzen für Erwerbslose. Schon bald nach der Eröffnung der Drahtesel-Werkstatt 1993 füllte sich
              das
              Velolager. Als Paolo Richter kurz darauf Besuch von seinem Freund Mozato Ohene-Akonor aus Ghana erhielt,
              entstand die Idee, die Velos für Afrika instand zu stellen. Wenig später verliess der erste Container
              mit
              ausgedienten Velos aus der Schweiz die Werkstatt Richtung Ghana. Der Grundstein für die
              Erfolgsgeschichte
              von
              Velafrica (früher «Velos für Afrika») war gelegt.
            </p>

            <h4>Velafrica heute</h4>
            <p>Velafrica verschiffte 2016 das 150 000ste Velo nach Afrika. Alleine 2015 exportierte die Organisation
              38
              Container mit mehr als 17 000 Rädern in den Süden – Tendenz steigend. Die Instandstellung der
              Recycling-Velos
              übernehmen heute 30 Partnerwerkstätten aus dem sozialen Bereich. In der ganzen Schweiz nehmen rund 500
              Sammelstellen Velos entgegen. Dazu kommen über 50 Sammelanlässe pro Jahr.</p>

            <h4>Förderung von Ausbildungsprogrammen</h4>
            <p>Das Entwicklungsengagement wurde in den vergangenen Jahren stark ausgebaut. Aktuell begleitet Velafrica
              13
              Projekte in Ghana, Gambia, Madagaskar, Tansania, Eritrea, Burkina Faso und der Elfenbeinküste.
              Insbesondere
              der Aufbau von Velowerkstätten und die Schaffung von Ausbildungsmöglichkeiten im Bereich der
              Velomechanik
              wurden vorangetrieben. Dazu kommen spezielle Programme zur Förderung der Velomobilität.</p>

            <h4>Schweizer Partnernetzwerk</h4>
            <p>
              In der Schweiz arbeitet Velafrica mit sozialen Einrichtungen zusammen, die Erwerbslose und Menschen mit
              Beeinträchtigungen beschäftigen. Dank diesem Partnernetzwerk können schweizweit Velos gesammelt und
              verarbeitet werden. Und nur dank dieser Zusammenarbeit ist es möglich, jährlich 17 000 fahrtüchtige
              Recycling-Velos zu verschiffen.
            </p>

          </div>

          <div class="row">
            <div class="col-xs-12 text-center">
              <div class="well well-lg">

                <h3>Swiss Social Entrepreneur 2009</h3>
                <p>
                  Paolo Richter erhielt für sein Engagement von der Schwab Foundation 2009 die Auszeichnung «Swiss
                  Social
                  Entrepreneur of the Year». Die Jury honoriert damit das nachhaltige und soziale Engagement in der
                  Schweiz und in Afrika.
                </p>

              </div>
              <div class="well well-lg">

                <h3>Finalist beim UBS Social Innovators 2016</h3>
                <img src="http://placehold.it/200x100" alt="">

              </div>
              <div class="well well-lg">

                <h3>Seif Label zertifiziert</h3>
                <img src="http://placehold.it/200x100" alt="">

              </div>
            </div>
          </div>
        </div>
      </div>

    </section>

    <section id="organisation"></section>

    <section id="organisation-content">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">

            <h1 class="text-center">Organisation</h1>

            <h3>Unter der Trägerschaft der Stiftung Sinnovativ</h3>
            <p>
              Das Entwicklungsengagement von Velafrica ist an das soziale Unternehmen Drahtesel angegliedert. Trägerin
              ist
              die Stiftung Sinnovativ. Zur Stiftung gehören auch die Wege Weierbühl mit einem betreuten Wohnangebot für
              Suchtkranke, das Kommbüro, eine PR-Agenur mit Integrationsarbeitsplätzen für erwerbslose Fachleute, und
              der
              Verkaufsladen des Drahtesels, das Pico Bollo.
            </p>

            <h2>Mit Spenden Steuern sparen</h2>
            <p>
              Velafrica und die tragende Stiftung Sinnovativ sind gemeinnützig. Spenden können Sie von den Steuern
              abziehen. Gerne lassen wir Ihnen eine Spendenbestätigung zukommen.
              Jetzt spenden und Perspektiven schaffen
            </p>

          </div>
        </div>

        <div class="row">
          <div class="col-xs-8 col-xs-offset-2 text-center">

            <h3>Jahresbericht 2015 der Stiftung Sinnovativ</h3>
            <p>
              Der aktuelle Jahresbericht gibt Interessierten einen Einblick in die Stiftung Sinnovativ und ihre
              Unternehmen. Informationen zu Velafrica finden Sie von Seite 13 bis 15.
            </p>

          </div>
        </div>

      </div>

    </section>

    <section id="team">
      <div class="container">
        <div class="row teaser-vel">
          <div class="col-xs-12 teaser-white-bg">

            <h2>Das Team von Velafrica</h2>
            <p class="lead">
              Sie haben Fragen? Gerne können Sie sich direkt an uns wenden.
            </p>

          </div>
        </div>
      </div>
    </section>

    <section id="team-content">
      <div class="container">

        <div class="row">

          {% for member in team %}

            {% if not forloop.counter0 == 0 and forloop.counter0|divisibleby:4 %}
              </div>
              <div class="row">
            {% endif %}

            <div class="col-md-3 col-xs-6 text-center">
              {% if member.image %}
                <img src="{{ member.image }}" style="width: 100%" alt="">
              {% else %}
                <img src="http://placehold.it/300?text=Image.." alt="">
              {% endif %}

              <h4 style="padding-top: 20px">{{ member.name }}</h4>
              <p class="legend">{{ member.position }}</p>
              <a style="font-size: 14px" href="mailto:{{ member.email }}">{{ member.email }}</a>
            </div>

          {% endfor %}
          </div>

      </div>
    </section>

    <section id="messenger">
      <div class="container">
        <div class="row teaser-vel">
          <div class="col-xs-12 teaser-white-bg">

            <h2>Prominente Unterstützung</h2>
            <p class="lead">
              Persönlichkeiten aus Kultur, Gesellschaft und Sport unterstützen Velafrica als Botschafterinnen und
              Botschafter.
            </p>

          </div>
        </div>
      </div>
    </section>

    <section id="messenger-content">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">

            <p>
              Die Kabarettisten Franz Hohler und Emil Steinberger, der ehemalige Rad-Profi Franco Marvulli,<br>
              der FC Winterthur Fussballer Patrick Bengondo und die erfolgreiche OL-Läuferin Simone Niggli-Luder, <br>
              sie alle engagieren sich für Velafrica.<br>
              Ihr Engagement kommt von Herzen – und aus Überzeugung.
            </p>

          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">

            {% for reference in references %}
              {{ reference.name }}
              {{ reference.image }}
              {{ reference.text }}

            {% endfor %}

          </div>
        </div>
      </div>
    </section>

  </main>

{% endblock %}
