{% extends "public_site/base.html" %}
{% load i18n %}

{% block content %}

  <main class="walkthrough">

    <section class="walk-teaser">
      <div class="container">
        <div class="row">
          <div class="col-md-6">

            <h2>{% trans "In 4 Schritten zur Ausmistaktion" %}</h2>
            <p class="lead">
              {% trans "Möchten Sie zusammen mit Ihren Vereinskollegen, Ihrem Quartier, Ihren Arbeitskollegen oder einer Schulklasse eine Velosammelung durchführen? Es ist ganz einfach!" %}
            </p>

          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container text-center">
        <div class="row">
          <div class="col-xs-12 col-md-10 col-md-offset-1">

            <h3>{% trans "SCHRITT 1 VON 4" %}</h3>

            <h4>{% trans "Wo und wann?" %}</h4>

            <h2>{% trans "Legen Sie einen Termin fest" %}</h2>

            <p class="lead">
              {% trans "Definieren Sie Datum und Ort, an dem die Sammlung statt finden soll.<br> (Für die Vorbereitung benötigen Sie mindestens 5 Wochen Vorlauf.) <br>Holen Sie die gegebenenfalls Bewilligung ein. <br>Organisieren Sie Ihre Helfer und informieren Sie sie über die Abläufe am Sammeltag. <br>Bei grossen Anlässen stellen wir Ihnen Personal zur Verfügung." %}
            </p>

          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container text-center">
        <div class="row">
          <div class="col-xs-12 col-md-10 col-md-offset-1">

            <h3>{% trans "SCHRITT 2 VON 4" %}</h3>

            <h4>{% trans "Werbe-Material" %}</h4>

            <h2>{% trans "Bewerben Sie mit uns Ihren Sammelanlass" %}</h2>

            <p class="lead">
              {% trans "Wir stellen Ihenen Material zur verfügung: <br>Diverse Flyer, Plakate, Zeitschirft, Etiketten, Werbe-Blachen, Roll-Ups, Flaggen, T-Shirts und mehr. Eine detaillierte Auflistung und Bestell-Formular finden Sie in unseren Downloads. Je nach Anlass verschicken wir zudem eine Medienmitteilung." %}
            </p>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container text-center">
        <div class="row">
          <div class="col-xs-12 col-md-10 col-md-offset-1">

            <h3>{% trans "SCHRITT 3 VON 4" %}</h3>

            <h4>{% trans "Am Tag des Anlasses" %}</h4>

            <h2>{% trans "Der Tag der Sammlung ist gekommen" %}</h2>

            <p class="lead">
              {% trans "Stellen Sie Ihren Stand auf, und sperren Sie nötigenfalls das Gelände ab. <br> Kennzeichnen Sie de Velos mit den von uns gelieferten Etiketten. <br>Halten Sie den Anlass mit ein paar fotografischen Impressionen fest :) <br> Am Ende des Tages holen wir die gesammelten Velos ab." %}
            </p>

          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container text-center">
        <div class="row">
          <div class="col-xs-12 col-md-10 col-md-offset-1">

            <h3>{% trans "SCHRITT 4 VON 4" %}</h3>

            <h4>{% trans "Abholen der Velos" %}</h4>

            <h2>{% trans "Nach dem Sammelanlass" %}</h2>

            <p class="lead">
              {% trans "Wir sind immer froh um Feedback! <br> Helfen Sie uns, indem Sie die fotografischen Impressionen auf Social Media posten und uns taggen!" %}
            </p>

          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row text-center">
          <div class="col-xs-12 col-md-10 col-md-offset-1">

            <h1>{% trans "Interessiert?" %}</h1>

            <p>
              {% trans "Bitte tragen Sie Ihre Angaben ein, damit wir Sie kontaktieren können." %}
            </p>

          </div>
        </div>

        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <form action="">
              <div class="col-md-6 col-md-offset-3">
                <h4>{% trans "Kontaktangaben" %}</h4>
                <div class="form-group">
                  <input type="text" class="form-control input-lg" placeholder="{% trans "Name*" %}" required>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control input-lg" placeholder="{% trans "Vorname*" %}" required>
                </div>
                <div class="form-group">
                  <input type="number" class="form-control input-lg" placeholder="{% trans "Telefon*" %}" required>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control input-lg" placeholder="{% trans "Email*" %}" required>
                  <p class="legend">{% trans "* Pflichtfelder" %}</p>
                </div>

                <h4>{% trans "Wie sind Sie aufgestellt?" %}</h4>
                <div class="form-group">
                  <select class="form-control input-lg">
                    <option value="privatperson">{% trans "Privatperson" %}</option>
                    <option value="saab">Saab</option>
                    <option value="fiat">Fiat</option>
                    <option value="audi">Audi</option>
                  </select>
                </div>
                <textarea class="form-control input-lg" rows="4" placeholder="{% trans "Bemerkung" %}"></textarea>
              </div>

              <div class="clearfix"></div>

              <div class="col-md-12 text-center">
                <p class="detail-info">
                  {% trans "Falls Sie bereits konkrete Angaben zum Sammelanlass machen können, empfehlen wir Ihnen, die Detail-Infos so weit wie möglich auszufüllen. Das erleichtert uns die Arbeit." %}
                </p>

                <input class="btn btn-send btn-lg" type="submit" value="{% trans "Kurzanfrage absenden" %}">
                <button class="btn btn-detail btn-lg" id="walkDetail" onclick="toggler('#walkDetailInfo');"
                        type="button">{% trans "Detail-Infos hinzufügen" %}<span
                        class="vel-icon arrow-up-white"></span></button>
              </div>

              <div class="col-xs-12 col-xs-offset-0 col-md-8 col-md-offset-2 walk-detail-info" id="walkDetailInfo">

                <h2>{% trans "Eckdaten für den Sammelanlass" %}</h2>

                <h4>{% trans "Datum" %}</h4>

                <h4>{% trans "Annahmezeiten" %}</h4>

                <h4>{% trans "Adresse Sammelstandort" %}</h4>
                <div class="form-group">
                  <input type="text" class="form-control input-lg" placeholder="{% trans "Strasse und Nummer" %}">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control input-lg" placeholder="{% trans "PLZ und Ort" %}">
                </div>
                <textarea name="" id="" rows="4" class="form-control input-lg"
                          placeholder="{% trans "Standortbeschreibung" %}"></textarea>

                <h4>{% trans "Sind diese Angaben definitiv?" %}</h4>

                <div class="form-group">
                  <div class="radio">
                    <label>
                      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                      Ja
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                      Nein
                    </label>
                  </div>
                </div>
                <textarea name="" id="" rows="3" class="form-control input-lg"
                          placeholder="{% trans "Bemerkung" %}"></textarea>

                <h2>{% trans "Öffentlichkeitsarbeit" %}</h2>
                <h4>{% trans "Wie und wo werden Sie die Sammelaktion bewerben?" %}</h4>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="">
                    {% trans "Persönliches Netzwerk" %}
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="">
                    {% trans "Social Media" %}
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="">
                    {% trans "Inserat" %}
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="">
                    {% trans "Medienmitteilung" %}
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="">
                    {% trans "Website" %}
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="">
                    {% trans "Veranstaltungskalender" %}
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="">
                    {% trans "Plakate" %}
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="">
                    {% trans "Flyer" %}
                  </label>
                </div>

                <h4>{% trans "Wünschen Die bei der Öffentlichkeitsarbeit Unterstützung durch Velafrica" %}</h4>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="">
                    {% trans "Nein" %}
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="">
                    {% trans "Vorlage Medienmitteilung" %}
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="">
                    {% trans "Druck von Flyern und Plakaten" %}
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="">
                    {% trans "Druckvorlagen für Flyer und Plakate (zum selber drucken)" %}
                  </label>
                </div>

                <p>{% trans "Lieferadresse für Infomaterial" %}</p>
                <div class="form-group">
                  <input type="text" class="form-control input-lg" placeholder="{% trans "Strasse und Nummer" %}">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control input-lg" placeholder="{% trans "PLZ udn Ort" %}">
                </div>

                <h4>{% trans "Logistik" %}</h4>
                <p>{% trans "Erwartete Menge gesammelter Velos?" %}</p>
                <div class="form-group">
                  <select class="form-control">
                    <option>1 - 20</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>

                <p>{% trans "Gibt es eine Möglichkeit, die Velos vor Ort zwischenzulagern? *" %}</p>
                <p class="legend">{% trans "* Bei Bedarf schicken wir Ihnen Sicherungskabel- und schlösser" %}</p>


                <p></p>

                <p>{% trans "Verantwortliche/r während des Sammelanlasses vor Ort" %}</p>
                <div class="form-group">
                  <input type="text" class="form-control input-lg" placeholder="{% trans "Name" %}">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control input-lg" placeholder="{% trans "Vorname" %}">
                </div>
                <div class="form-group">
                  <input type="number" class="form-control input-lg" placeholder="{% trans "Mobile" %}">
                </div>
                <div class="form-group">
                  <input type="email" class="form-control input-lg" placeholder="{% trans "Email" %}">
                </div>

                <p>{% trans "Anzahl Helfer/innen" %}</p>
                <div class="form-group">
                  <select name="" id="" class="form-control">
                    <option value="">1 - 10</option>
                    <option value="">1 - 10</option>
                    <option value="">1 - 10</option>
                    <option value="">1 - 10</option>
                    <option value="">1 - 10</option>
                  </select>
                </div>
                <textarea name="" id="" rows="3" class="form-control input-lg"
                          placeholder="{% trans "Bemerkung" %}"></textarea>
                <input type="submit" class="btn btn-send btn-lg" value="{% trans "Kontaktaufnahme absenden" %}">

              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

  </main>

  <script>
    function toggler(divID) {
      $(divID).toggle();
      $('#walkDetail').find('span').toggleClass('vel-icon arrow-up-white').toggleClass('vel-icon arrow-down-white');
    }
  </script>

{% endblock %}
