{% extends "base.html" %}

{% block breadcrumb %} 
<li><a href="{% url 'frontend:download' %}">Downloads</a></li>
{% endblock %} 

{% block jumbotron-img %}{% endblock %}
{% block jumbotron-title %}
Downloads
{% endblock %}

{% block jumbotron %}

{% if user.is_authenticated %}
<ul>
{% for file in files %}
<li><a href="{{ file.file.url }}" title="{{ file.name }}">{{ file.name }}</a></li>
{% endfor %}
</ul>

{% else %}
You are not logged in. You should not even see this.
{% endif %}


{% endblock %}