{% extends "base.html" %}

{% block breadcrumb %} 
<li><a href="{% url 'counter' %}">Velo Counter</a></li>
{% endblock %} 


{% block jumbotron-title %}
Velo Counter
{% endblock %}

{% block jumbotron %}

{% if user.is_authenticated %}
add new entry
{% endif %}

<p>Anzahl verarbeiteter Velos aus dem Velafrica Partner Netzwerk seit dem 1.1.2016</p>
<p><a href="{% url 'counter' %}"><span class="label {% if org_id == 0 %}label-warning{% else %}label-default{% endif %}" data-org-id=0>Alle</span></a></p>
<p><a href="{% url 'counter' %}?id=1"><span class="label {% if org_id == 1 %}label-warning{% else %}label-default{% endif %}" data-org-id=1>Velafrica</span></a>
 <a href="{% url 'counter' %}?id=2"><span class="label {% if org_id == 2 %}label-warning{% else %}label-default{% endif %}">Drahtesel</span></a>
</p>

<div class="col-md-4">
<h2>Heute</h2>
<div style="font-size: 5em; font-weight: bold;">{{ velos_today }}</div>
</div>

<div class="col-md-4">
<h2>Gestern</h2>
<div style="font-size: 5em; font-weight: bold;">{{ velos_yesterday }}</div>
</div>

<div class="col-md-4">
<h2>Diese Woche</h2>
<div style="font-size: 5em; font-weight: bold;">{{ velos_thisweek}}</div>
</div>

<div class="col-md-4">
<h2>Diesen Monat</h2>
<div style="font-size: 5em; font-weight: bold;">{{ velos_thismonth }}</div>
</div>

<div class="col-md-4">
<h2>Dieses Jahr</h2>
<div style="font-size: 5em; font-weight: bold;">{{ velos_thisyear }}</div>
</div>

<div class="col-md-4">
<h2>Total</h2>
<div style="font-size: 5em; font-weight: bold;">{{ velos_total }}</div>
</div>

<p><i>TODO: weitere Auswertungen (Durchschnitt / Tag / Woche / Monat / Jahr, produktivster Tag)</i></p>

{% endblock %}