{% extends "base.html" %}

{% block breadcrumb %} 
<li><a href="{% url 'counter' %}">Velo Counter</a></li>
{% endblock %} 

{% block jumbotron-img %}{% endblock %}
{% block jumbotron-title %}
Velo Counter
{% endblock %}

{% block jumbotron %}

<p>Anzahl verarbeiteter Velos aus dem Velafrica Partner Netzwerk seit dem 1.1.2016</p>
<div id="velo-counter-filter">

	{% if user.is_authenticated %}
	<p><a href="{% url 'counter' %}"><span class="label {% if org_id == 0 %}label-warning{% else %}label-default{% endif %}" data-org-id=0>Alle Netzwerkpartner</span></a></p>
		<p>
		{% for org in organisations %}
		<a href="{% url 'counter' %}?id={{ org.id }}"><span class="label {% if org_id == org.id %}label-warning{% else %}label-default{% endif %}" data-org-id={{ org.id }}>{{ org.name }}</span></a>
		{% endfor %}
		</p>
	{% endif %}

</div>
<div class="row">

	<div class="col-md-4">
	<h2>Heute</h2>
	<div style="font-size: 5em; font-weight: bold;">{{ velos_today }}</div>
	</div>

	<div class="col-md-4">
	<h2>Gestern</h2>
	<div style="font-size: 5em; font-weight: bold;">{{ velos_yesterday }}</div>
	</div>

	<div class="col-md-4">
	<h2>Diese Woche</h2>
	<div style="font-size: 5em; font-weight: bold;">{{ velos_thisweek}}</div>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
	<h2>Diesen Monat</h2>
	<div style="font-size: 5em; font-weight: bold;">{{ velos_thismonth }}</div>
	</div>

	<div class="col-md-4">
	<h2>Dieses Jahr</h2>
	<div style="font-size: 5em; font-weight: bold;">{{ velos_thisyear }}</div>
	</div>

	<div class="col-md-4">
	<h2>Total</h2>
	<div style="font-size: 5em; font-weight: bold;">{{ velos_total }}</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
	<h2>Produktivster Tag</h2>
	<div style="font-size: 5em; font-weight: bold;">{{ velos_max }}</div> am {{ velos_max_date }}
	</div>
</div>
<!--
<div class="row">
	<div class="col-md-4">
	<h2>Velos pro Tag</h2>
	<div style="font-size: 5em; font-weight: bold;">0</div>
	</div>

	<div class="col-md-4">
	<h2>Velos pro Woche</h2>
	<div style="font-size: 5em; font-weight: bold;">0</div>
	</div>

	<div class="col-md-4">
	<h2>Velos pro Monat</h2>
	<div style="font-size: 5em; font-weight: bold;">0</div>
	</div>

	<div class="col-md-4">
	<h2>Velos pro Jahr</h2>
	<div style="font-size: 5em; font-weight: bold;">0</div>
	</div>
-->
</div>

{% endblock %}