{% extends "base.html" %}

{% block breadcrumb %} 
<li><a href="/counter">Velo Counter</a></li>
{% endblock %} 


{% block jumbotron-title %}
Velo Counter
{% endblock %}

{% block jumbotron %}

<p>Anzahl verarbeiteter Velos aus der Velafrica Velowerkstatt seit dem 1.1.2016</p>
<p><i>TODO: Filter pro Verarbeitungsort</i></p>
<p><a href="#"><span class="label label-warning">Alle</span></a></p>
<p><a href="#"><span class="label label-default">Velafrica</span></a> <a href="#"><span class="label label-default">Drahtesel</span></a></p>

<div class="col-md-4">
<h2>Heute</h2>
<div style="font-size: 5em; font-weight: bold;">{{ velos_today }}</div>
</div>

<div class="col-md-4">
<h2>Gestern</h2>
<div style="font-size: 5em; font-weight: bold;">{{ velos_yesterday }}</div>
</div>

<div class="col-md-4">
<h2>Diese Woche</h2>
<div style="font-size: 5em; font-weight: bold;">{{ velos_thisweek}}</div>
</div>

<div class="col-md-4">
<h2>Diesen Monat</h2>
<div style="font-size: 5em; font-weight: bold;">{{ velos_thismonth }}</div>
</div>

<div class="col-md-4">
<h2>Dieses Jahr</h2>
<div style="font-size: 5em; font-weight: bold;">{{ velos_thisyear }}</div>
</div>

<div class="col-md-4">
<h2>Total</h2>
<div style="font-size: 5em; font-weight: bold;">{{ velos_total }}</div>
</div>

<p><i>TODO: weitere Auswertungen (Durchschnitt / Tag / Woche / Monat / Jahr, produktivster Tag)</i></p>

{% endblock %}