
main#about-us {

  section {
    &#history,
    &#history-content,
    &#organisation,
    &#organisation-content,
    &#team,
    &#team-content,
    &#messenger,
    &#messenger-content {
      padding: 90px 0;
      min-height: 500px;
    }

    &#history {
      background: url("../img/Velafrica_PaoloRichter_150611_049.jpg") center/cover;
    }

    &#organisation,
    &#messenger {
      background: url("../img/street_burkina_irim.jpg") center/cover;
    }

    &#team {
      background: url("../img/Klingel01.jpg") center/cover;
    }

    .well {
      border-color: $velafrica-brown-3-hover;
      h3 {
        color: $velafrica;
      }
    }
  }
}

