.header-wrap {
  background-color: white;
  margin-bottom: 0;

  header > div > div {
    padding-left: 15px;
    padding-right: 15px;
  }

  header {
    & > div > div > div {
      height: 80px;
    }

    .navigation-container {
      display: flex;
      padding-left: 0;
      padding-right: 0;

      ul {
        list-style-type: none;
        padding-left: 0;
      }

      .navigation-left {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 100px;
        margin-left: 15px;

        @media (max-width: 435px) {
          flex-basis: 75px;
        }

        .logo {
          img {
            padding-top: 5px;
            height: 70px;
          }
        }
      }

      .navigation-right {
        flex-grow: 1;
        flex-basis: auto;

        height: 80px;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        li {
          padding: 1rem;

          @media (max-width: 435px) {
            padding: 5px;
          }
          a {
            color: $velafrica-brown-3;
            text-decoration: none;
            font-weight: normal;
            transition: .5s ease;
            
            &:hover {
              color: $velafrica-brown-1;
            }

            @media (max-width: 375px) {
              font-size: 14px;
            }
          }

          .btn-donation {
            font-size: 20px;
            font-weight: bold;
            color: white;
            background-color: $velafrica-brown-3;
            border-color: transparent;
            height: 50px;
            width: $vel-don-with;
            border-radius: $vel-border-radius;

            &:hover {
              background-color: $velafrica-brown-3-hover;
            }
            &:focus,
            &:active {
              outline: 0;
              outline-offset: 0;
              border-color: transparent;
              box-shadow: none;
            }
          }

          .dropdown-menu {
            right: 0;
            padding: 0;
            text-align: center;
            background-color: $velafrica-brown-3;
            border-radius: $vel-border-radius;
            width: $vel-don-with;
            border-color: transparent;
            margin: -5px 10px 0;

            li {
              border-bottom: 1px solid $velafrica-brown-3-hover;
              padding: 0;

              &:last-child {
                border-color: transparent;
              }

              a {
                font-size: 20px;
                color: white;
                text-decoration: none;
                padding: 11px 20px;

                &:first-child {
                  &:hover {
                    background-color: $velafrica-brown-3-hover;
                    border-top-left-radius: $vel-border-radius;
                    border-top-right-radius: $vel-border-radius;
                  }
                }

                &:last-child {
                  &:hover {
                    background-color: $velafrica-brown-3-hover;
                    border-bottom-left-radius: $vel-border-radius;
                    border-bottom-right-radius: $vel-border-radius;
                  }
                }

                &:hover {
                  background-color: $velafrica-brown-3-hover;
                }
              }
            }
          }
        }
      }
    }
  }
}
