.header-wrap {

  .row {
    display: flex;
  }

  header {
    padding-top: 1rem;

    .big-nav {
      background-color: $velafrica;
      visibility: hidden;
      height: 0;
    }

    .left {
      .logo {
        img {
          flex: 0 0 100px;
          height: 80px;
          padding-bottom: 1rem;
        }
      }
    }

    .right {
      .dropdown {
        float: right;

        .btn-default {
          background-color: $velafrica-brown-3;
          color: white;
          font-size: 20px;
          border-color: transparent;
          
          &:hover {
            border-color: transparent;
          }
        }
      }
    }
  }
}
