section.teaser {
  padding: 30px 0;

  .container {
    padding-top: 30px;
  }
  .mission > div > div {
    background-color: rgba(white, .8);
    border-radius: $vel-border-radius;
    padding: 30px;
  }

  .bicycle-search {
    & > div > div {
      background-color: rgba(white, .8);
      border-radius: $vel-border-radius;
      padding: 30px;
    }

    .bicycle-submit {
      padding: 3rem 0 2rem;

      input.postal-code {
        font-size: 18px;
        text-align: center;
        height: 50px;
        width: 133px;
        border-radius: $vel-border-radius;
        border: 1px solid $velafrica;
        padding: 1rem;

        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: $velafrica;
        }
        &::-moz-placeholder { /* Firefox 19+ */
          color: $velafrica;
        }
        &:-ms-input-placeholder { /* IE 10+ */
          color: $velafrica
        }
        &:-moz-placeholder { /* Firefox 18- */
          color: $velafrica
        }

        &:focus {
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          outline: auto 0px;
          border-color: $velafrica-hover;
        }
      }

      input.bicycle-submit-button {
        width: 230px;
        height: 50px;
        margin-left: 1rem;
        padding: 5px 20px 8px;
        color: white;
        font-size: 22px;
        background-color: $velafrica;
        border-radius: $vel-border-radius;
        text-decoration: none;
        border-style: none;

        &:hover {
          background-color: $velafrica-hover;
        }
        &:focus,
        &:active {
          outline: 0;
          outline-offset: 0;
          border-color: transparent;
          box-shadow: none;
        }
      }
    }

    a.collection-event-link {
      color: $velafrica-brown-1;
      font-size: 16px;

      &:hover {
        color: $velafrica-brown-3-hover;
      }
    }
  }
}

section.bicycle-statistic {
  padding: 120px 0;

  h1.big-number {
    font-size: 144px;

    @media (max-width: 768px) {
      font-size: 110px;
    }

    @media (max-width: 320px) {
      font-size: 75px;
    }
  }

  a {
    color: $velafrica-brown-2;
  }

  img {
    margin: 60px 0;
    height: 385px;
    width: 376px;
  }

  .bicycle-tracking {
    padding-top: 30px;

    input.tracking-code {
      height: 50px;
      width: 206px;
      border-radius: $vel-border-radius;
      border: 1px solid $velafrica-brown-3;
      font-size: 16px;
      text-align: center;

      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $velafrica-brown-3;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: $velafrica-brown-3;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: $velafrica-brown-3;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: $velafrica-brown-3;
      }

      &:focus {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        outline: auto 0px;
        border-color: $velafrica-brown-2;
      }
    }

    input.tracking-submit-button {
      color: white;
      margin: 0 1rem;
      width: 298px;
      height: 50px;
      background-color: $velafrica-brown-3;
      border-radius: $vel-border-radius;
      border: none;
      font-size: 20px;

      &:hover {
        background-color: $velafrica-brown-3-hover;
      }
      &:focus,
      &:active {
        outline: 0;
        outline-offset: 0;
        border-color: transparent;
        box-shadow: none;
      }
    }
  }
}

section.organize {
  background: url("../img/2015_GeroldsGarten_ViviKola.jpg") center/cover;
  padding: 60px 0;

  & > div > div > div {
    background-color: rgba(white, .8);
    border-radius: $vel-border-radius;
    padding: 30px;
  }
}

section.join-us {
  .container {
    padding-left: 0;
    padding-right: 0;
  }

  & > div > div {
    margin: 0;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  padding: 120px 0;

  h1 {
    color: $velafrica-brown-1;
    margin-bottom: 60px;
  }

  a {
    color: $velafrica-brown-1;

    .panel-default {
      border-radius: $vel-border-radius;
      border: 2px solid $velafrica-brown-1;
      padding-bottom: 3rem;

      .panel-body {
        padding: 0;

        img {
          background-position: center;
          -webkit-background-size: cover;
          background-size: cover;
          margin-bottom: 30px;
        }
      }

      &:hover {
        border-color: $velafrica;
      }
    }
  }

}

section.news {
  padding: 90px 0;

  h1 {
    margin-bottom: 60px;
  }
}
