section#tracking-code {
  padding-top: 50px;
  padding-bottom: 20px;

  background-color: $velafrica-brown-1;

  h2 {
    color: $velafrica-brown-3-hover;
  }

  h1 {
    color: white;
  }

  .row, .row > div > div {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: flex-end;

    @media (max-width: 992px) {
      align-items: center;
      justify-content: center;
    }
  }
}

section#tracking-events {

  .no-before {
    &:before {
      content: 'none';
      height: 0;
      visibility: hidden;
    }
  }

  span {
    @extend h3;
    margin: 5rem 0 4rem !important;
    height: 50px;
    line-height: 40px !important;

    &:after {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      top: 76px;
      bottom: 0;
      border: dashed;
      border-width: 0 0 0 4px;
      border-color: $velafrica;
      z-index: -1;
    }
    &:before {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      top: -20px;
      height: 70px;
      bottom: 0;
      border: dashed;
      border-width: 0 0 0 4px;
      border-color: $velafrica;
      z-index: -1;
    }

    .tracking-date {
      background-color: $velafrica;
      padding: 5px 15px;
      color: white;
    }

    &.label {
      border-radius: $vel-border-radius;
      display: inline-block;
    }
    &.label-default {
      background-color: $velafrica;
    }
  }

  .panel {
    border: none;
  }

  .panel-default {
    background-color: $velafrica-brown-6;
    color: $velafrica-brown-1;
    border-color: transparent;

    .panel-heading {
      color: $velafrica-brown-1;
      background-color: $velafrica-brown-4;
      border-bottom: none;

      .panel-title {
        font-size: 36px;
        font-weight: bold;
        line-height: 44px;
        letter-spacing: .5px;
        margin-top: 0;
        padding: 5px 0 5px 20px;

        social {
          a {
            padding-left: 20px;

            img {
              width: 35px;
              margin-bottom: 9px;
            }
          }
        }

        @media (max-width: 320px) {
          font-size: 32px;
        }
      }
    }

    .panel-body {
      padding-bottom: 0;

      p.col-md-8 {
        padding: 30px 0;

        @media (max-width: 992px) {
          padding: 15px 30px;
        }
      }

      p.col-md-12 {
        padding: 15px 45px;

        @media (max-width: 768px) {
          padding: 15px 30px;
        }
      }

      img {
        width: 100%;
        border-bottom-left-radius: $vel-border-radius;
        border-bottom-right-radius: $vel-border-radius;
      }
    }
  }

}

section#information {
  a {
    color: $velafrica-brown-1;
    text-decoration: none;

    .panel-default {
      border-radius: $vel-border-radius;
      border: 2px solid $velafrica-brown-1;
      padding-bottom: 3rem;

      .panel-body {
        p {
          text-decoration: none !important;
        }
        img {
          background-position: center;
          -webkit-background-size: cover;
          background-size: cover;
          margin-bottom: 30px;
        }
        span {
          text-decoration: underline !important;
          &:hover {
            border-color: $velafrica;
          }
        }
      }
      &:hover {
        border-color: $velafrica;
      }
    }
  }
}

section#information {
  margin-top: 130px;

  .equal, .equal > div {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    flex-wrap: wrap;

    .panel {
      display: flex;
      flex-grow: 1;

      a {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        div {
          flex-grow: 1;
        }
      }
    }

    .panel-footer {
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }

    @media (max-width: 992px) {
      flex-basis: 49%;
      justify-content: space-between;
    }
    @media (max-width: 500px) {
      flex-basis: 100%;
    }
  }

  h2 {
    margin-bottom: 60px;
  }

  .row {
    margin-bottom: 180px;
  }

  .panel-default {
    border-color: $velafrica-brown-1;
    border-width: 2px;

    &:hover {
      border-color: $velafrica;
    }

    a {
      color: black;
      text-decoration: none;

      &:hover {
        color: $velafrica;
      }
      & > .panel-body {
        text-decoration: none;
        padding: 30px;
      }
      & > .panel-footer {
        text-decoration: underline;
        background-color: transparent;
        border-top: none;
        padding: 9px 10px 24px;
      }
    }
  }
}
