$velafrica:                 #E9571B;
$velafrica-hover:           #B53D14;
$velafrica-input:           #F4AB8D;
$velafrica-brown-1:         #30170F;
$velafrica-brown-2:         #7B523D;
$velafrica-brown-3:         #A5814F;
$velafrica-brown-3-hover:   #A5814F;
$velafrica-brown-4:         #B0936E;
$velafrica-brown-5:         #E3C79F;
$velafrica-brown-6:         #F1E3CF;
$velafrica-white-1:         #FFFFFF;

$vel-border-radius: 3px;

$velafrica-font-family: 'Ek Mukta', sans-serif;