section#tracking-navi {
  .navbar-fixed-top {
    top: 80px;
    z-index: 1;
    background-color: $velafrica-brown-5;
  }

  .tracking-navi-menu {
    list-style: none;
    overflow: hidden;
    height: 50px;
    padding-top: 15px;
    margin-left: 0;
    padding-left: 0;

    .active {
      background-color: $velafrica-brown-1;
      color: white;

      &:after {
        background: linear-gradient(45deg, transparent 0%, transparent 50%, $velafrica-brown-1 51%, $velafrica-brown-1 100%);
      }
    }

    & li {
      float: left;
      margin-left: 26px;

      &:nth-child(-n+1) {
        margin-left: 0px;
      }

      & a {
        width: 198px;
        color: $velafrica-brown-1;
        text-decoration: none;
        text-align: center;
        padding: 3px 0 0 5px;
        background: $velafrica-brown-4;
        border-radius: $vel-border-radius;
        position: relative;
        display: block;
        float: left;
        height: 30px;
        transition: none;
        font-weight: normal;
        font-size: 19px;

        &:hover {
          background-color: $velafrica-brown-1;
          color: white;

          &:after {
            background: linear-gradient(45deg, transparent 0%, transparent 50%, $velafrica-brown-1 51%, $velafrica-brown-1 100%);
          }
        }

        &:after {
          content: "";
          display: block;
          position: absolute;
          margin-top: -25px;
          height: 22px;
          width: 22px;
          background: linear-gradient(45deg, transparent 0%, transparent 50%, $velafrica-brown-4 51%, $velafrica-brown-4 100%);
          border-radius: $vel-border-radius;
          transform: rotate(45deg);
          left: 94%;
          z-index: 2;
        }
      }
    }
  }
}

section#tracking-stations {
  padding-top: 110px;
  margin-bottom: 90px;

  img {
    width: 50%;
    background-size: cover;
    margin-top: 60px;
  }
}

section#tracking-record {
  background-color: $velafrica-brown-3;

  .col-md-6:first-child {

    h2 {
      color: white;
    }
  }
}

section#tracking-entry {
  background-color: $velafrica-brown-3;

  h2 {
    color: white;
  }

  .panel {
    background-color: $velafrica-brown-3;
    border-radius: 0;
    padding: 30px 60px 30px 30px;

    h1 {
      margin-bottom: 0;
    }

    p.lead {
      color: white;
    }
  }

  .vel-entry-pad {
    padding: 30px 60px 30px 30px;
  }
}

section#tracking-processing {
  background-color: $velafrica-brown-3;
  h2 {
    color: white;
  }
}

section#tracking-africa {
  background-color: $velafrica-brown-3;
  h2 {
    color: white;
  }
}

section#tracking-arrived {
  background-color: $velafrica-brown-3;
  h2 {
    color: white;
  }
}
