main#walkthrough {

  padding-bottom: 60px;

  section {
    padding-top: 60px;
    padding-bottom: 60px;

    .vertical-align {
      height: 50px;
      vertical-align: middle;
      display: table-cell;
    }

    h3 {
      color: $velafrica-brown-3-hover;
    }

    h4 {
      color: $velafrica-brown-1;
      margin-top: 60px;
    }

    h2 {
      color: $velafrica;
      margin-top: 30px;
      margin-bottom: 15px;
    }

    &:nth-child(odd) {
      background-color: $velafrica-brown-6;
    }
    &:nth-child(even) {
      background-color: $velafrica-brown-5;
    }
    &:last-child {
      background-color: white;

      h1 {
        color: $velafrica-brown-3-hover;
      }
    }

    &.walk-teaser {
      background: url(../img/walkthrough_teaser.jpg) center/cover;

      h2 {
        color: $velafrica-brown-1;
        margin-top: 0;
      }
    }

    form {
      .vel-radio {
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
      .radio {
        input[type="radio"] {
          position: absolute;
          opacity: 0;
        }
        input[type="radio"] + label {
          position: relative;
          padding: 0 0 0 45px;
          font-size: 20px;
          line-height: 25px;
          margin: 0 0 10px 0;
        }
        input[type="radio"] + label:before {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          top: -2px;
          height: 28px;
          width: 28px;
          background: white;
          border: 1px solid $velafrica-brown-3;
          box-shadow: inset 0 0 0 5px white;
          border-radius: 20px;
          transition: all .2s ease;
        }

        input[type="radio"]:checked + label:before {
          background: $velafrica-brown-1;
        }
      }
    }

    input,
    select,
    button {
      border-color: $velafrica-brown-3;
      height: 50px;
      border-radius: $vel-border-radius;
      &:focus {
        border-color: $velafrica-brown-1;
        box-shadow: none;
      }

      &.btn-detail {
        font-weight: bold;
        color: white;
        background-color: $velafrica-brown-3;
        padding: 0 20px;

        &:hover {
          background-color: $velafrica-brown-3-hover;
        }
        &:focus,
        &:active {
          outline: 0;
          outline-offset: 0;
          border-color: transparent;
          box-shadow: none;
        }
      }

      &.btn-send {
        font-weight: bold;
        color: white;
        background-color: $velafrica;
        border-color: transparent;
        padding: 0 20px;

        &:hover {
          background-color: $velafrica-hover;
        }
        &:focus,
        &:active {
          outline: 0;
          outline-offset: 0;
          border-color: transparent;
          box-shadow: none;
        }
      }
    }

    select {
      color: $velafrica-brown-3;
      border-radius: $vel-border-radius;
    }

    textarea {
      border-color: $velafrica-brown-3;
      border-radius: $vel-border-radius;
      &:focus {
        border-color: $velafrica-brown-1;
        box-shadow: none;
      }
    }
    #id_collected_before_note,
    #id_date {
      display: none;
    }

    .form-control {
      &::-webkit-input-placeholder {
        color: $velafrica-brown-3;
      }
      &:-moz-placeholder {
        color: $velafrica-brown-3;
      }
      &::-moz-placeholder {
        color: $velafrica-brown-3;
      }
      &:-ms-input-placeholder {
        color: $velafrica-brown-3;
      }
    }

    p.detail-info {
      margin-top: 60px;
      margin-bottom: 60px;
    }

    .walk-detail-info {
      display: none;

      h2 {
        padding-top: 90px;
        color: $velafrica-brown-1;
      }

      #id_supporter_note {
        margin-bottom: 60px;
      }
    }
  }
}

section#company,
section#company-content,
section#company-form {
  padding-top: 60px;
  padding-bottom: 60px;
}

section#company-content {
  h2 {
    color: $velafrica-brown-3-hover;
  }

}

section#company-form {

  h2 {
    color: $velafrica-brown-3-hover;
    &.vel-pad {
      margin-top: 60px;
    }
  }

  form {
    padding-top: 60px;

    input,
    select,
    button {
      border-color: $velafrica-brown-3;
      height: 50px;
      border-radius: $vel-border-radius;
      &:focus {
        border-color: $velafrica-brown-1;
        box-shadow: none;
      }

      &.btn-detail {
        font-weight: bold;
        color: white;
        background-color: $velafrica-brown-3;
        padding: 0 20px;

        &:hover {
          background-color: $velafrica-brown-3-hover;
        }
        &:focus,
        &:active {
          outline: 0;
          outline-offset: 0;
          border-color: transparent;
          box-shadow: none;
        }
      }

      &.btn-send {
        font-weight: bold;
        color: white;
        background-color: $velafrica;
        border-color: transparent;
        padding: 0 20px;

        &:hover {
          background-color: $velafrica-hover;
        }
        &:focus,
        &:active {
          outline: 0;
          outline-offset: 0;
          border-color: transparent;
          box-shadow: none;
        }
      }
    }
    textarea {
      border-color: $velafrica-brown-3;
      border-radius: $vel-border-radius;
      &:focus {
        border-color: $velafrica-brown-1;
        box-shadow: none;
      }
    }

    .form-control {
      &::-webkit-input-placeholder {
        color: $velafrica-brown-3;
      }
      &:-moz-placeholder {
        color: $velafrica-brown-3;
      }
      &::-moz-placeholder {
        color: $velafrica-brown-3;
      }
      &:-ms-input-placeholder {
        color: $velafrica-brown-3;
      }
    }
  }
}
