@import "styleguide";
@import 'header';
@import "tracking_stations";
@import "donation";
@import "home";
@import "footer";
@import "collection_point";
@import "collection_event";
@import "map";
@import "walkthrough";
@import "socialwall";
@import "sbb_ticket_order";
@import "about_us";
@import "blog";
@import "my_tracking";

@import url('https://fonts.googleapis.com/css?family=Ek+Mukta:300,400,700');

body {
  font-family: $velafrica-font-family;
  color: $velafrica-brown-1;
  overflow-wrap: break-word;
  word-wrap: break-word;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding-top: 80px;

  :focus {
    outline: 5px auto $velafrica;
  }

  a, .panel {
    transition: .5s ease;
  }

  .container,
  .container-fluid {
    .teaser-vel {
      @media (max-width: 768px) {
        margin-left: 0;
        margin-right: 0;
      }

      .teaser-white-bg {
        background-color: rgba(white, .8);
        border-radius: $vel-border-radius;
        padding: 30px;

        @media (max-width: 768px) {
          padding: 15px;
        }
      }
    }
  }

  .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }

  h1 {
    font-size: 64px;
    font-weight: bold;
    line-height: 74px;
    letter-spacing: .7px;
    margin-top: 0;

    @media (max-width: 425px) {
      font-size: 50px;
    }
  }

  h2 {
    font-size: 36px;
    font-weight: bold;
    line-height: 44px;
    letter-spacing: .5px;
    margin-top: 0;

    @media (max-width: 320px) {
      font-size: 32px;
    }
  }

  h3 {
    font-size: 26px;
    font-weight: bold;
    line-height: 36px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-top: 0;
  }

  h4 {
    font-size: 20px;
    font-weight: bold;
    line-height: 29px;
    letter-spacing: .5px;
    margin-top: 0;
  }

  p {
    font-size: 20px;
    font-weight: normal;
    line-height: 29px;
    letter-spacing: .5px;

    &.lead {
      font-size: 26px;
      font-weight: lighter;
      line-height: 37px;
      letter-spacing: .3px;
      margin-bottom: 0;
    }

    &.legend {
      font-size: 14px;
      font-weight: normal;
      line-height: 20px;
      letter-spacing: .5px;
      padding-top: 5px;
    }
  }

  a {
    font-size: 20px;
    font-weight: bold;
    color: $velafrica;
    line-height: 26px;
    letter-spacing: .4px;
    text-decoration: underline;

    &:hover {
      color: $velafrica-hover;
    }
  }

  @media (max-width: 768px) {
    input,
    button {
      width: 100% !important;
      margin: 5px 0 !important;
      margin-left: 0 !important;
    }
  }

  .vel-icon {
    &.arrow-up-white:after {
      content: "";
      background: url(../img/arrow_down_white@2x.png) no-repeat;
      display: inline-flex;
      background-size: cover;
      width: 16px;
      height: 12px;
      margin-left: 10px;
    }
    &.arrow-down-white {
      content: "";
      background: url(../img/arrow_up_white@2x.png) no-repeat;
      display: inline-flex;
      background-size: cover;
      width: 16px;
      height: 12px;
      margin-left: 10px;
    }
  }
}
