{% extends "base.html" %}

{% block breadcrumb %} 
<li><a href="{% url 'auth:login' %}">Login</a></li>
{% endblock %} 

{% block jumbotron-img %}{% endblock %}
{% block jumbotron-title %}
Login
{% endblock %}

{% block jumbotron %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<div>
	<form method="post" action="{% url 'auth:login' %}" role="form">
	{% csrf_token %}
	<table class="table">
		<tr>
			<th>{{ form.username.label_tag }}</th>
			<td>{{ form.username }}</td>
		</tr>
		<tr>
			<th>{{ form.password.label_tag }}</th>
			<td>{{ form.password }}</td>
		</tr>
	</table>
	<br />

	<input type="submit" value="Login" class="btn btn-default" />
	<input type="hidden" name="next" value="{{ next }}" />
	</form>
</div>

<br />

<div>
<a href="{% url 'password_reset' %}">Passwort vergessen?</a>
</div>

{% endblock %}