{% extends "base.html" %}

{% block breadcrumb %} 
<li><a href="/user/profile">Profil</a></li>
{% endblock %} 


{% block jumbotron-title %}
Profil
{% endblock %}

{% block jumbotron %}

{% if user.is_authenticated %}
<p>Welcome!</p>
<p><i>TODO: User Infos anzeigen</i></p>
<p><i>TODO: Etiketten Bestellformulare</i></p>
{% if request.user.is_staff %}
<p><a href="{% url 'admin:index' %}">Zum Adminbereich</a></p>
{% endif %}
<p><a href="{% url 'logout' %}" class="btn btn-default">Logout</a></p>
{% else %}
You are not logged in. You should not even see this.
{% endif %}


{% endblock %}