{% extends "base.html" %}

{% block breadcrumb %} 
<li><a href="{% url 'auth:profile' %}">Profil</a></li>
{% endblock %} 

{% block jumbotron-img %}{% endblock %}
{% block jumbotron-title %}
{% if request.user.is_staff %}
<p class="pull-right"><a class="btn btn-default" href="{% url 'admin:index' %}" target="_blank"><span class="glyphicon glyphicon-log-in"></span> Zum Adminbereich</a></p>
{% endif %}
Hallo {{ user.first_name }} {{ user.last_name }}
{% endblock %}

{% block jumbotron %}

{% if user.is_authenticated %}
<p>Willkommen im Velafrica Partner Portal!</p>
<p>Diese Seite ist noch im Aufbau, es kann also vorkommen, dass noch nicht alles reibungslos funktioniert und dass sich einige Dinge immer wieder ein bisschen verändern.</p>
<p>Einen guten Einstieg bietet die Kurz-Anleitung zur Benutzung des VeloCounters unter <a href="{% url 'frontend:download' %}">'Downloads'</a>.</p>
<p>Feedback und Anregungen bitte per E-Mail an <strong>nikolai.raeber@velafrica.ch</strong>.</p>
<p>Viel Spass!</p>

<!--
<p><i>TODO: User Infos anzeigen</i></p>
<p><i>TODO: Etiketten Bestellformulare</i></p>
<p><i>TODO: Feedback Formulare</i></p>
-->
{% else %}
You are not logged in. You should not even see this.
{% endif %}


{% endblock %}