{% extends "base.html" %}
{% load staticfiles %}

{% block breadcrumb %} 
<li><a href="{% url 'container' %}">Container</a></li>
{% endblock %} 

{% block document-head %}

{% endblock %}

{% block jumbotron-img %}{% endblock %}
{% block jumbotron-title %}
Container
{% endblock %}

{% block jumbotron %}
{% endblock %}

{% block content %}

<!-- seach box -->
<div class="input-group"><span class="input-group-addon">Search:</span> <input id="filter" type="text" class="form-control" /></div>

<table class="table footable" data-page-size=100 data-filter="#filter">
	<thead>
		<tr>
			<th data-sort-initial="true">Ladedatum</th>
			<th>Ladeort</th>
			<th>Destination</th>
			<th data-type="numeric">Anzahl Velos</th>
		</tr>
	</thead>
	<tbody>
	{% for c in containers %}
		<tr>
			<td data-value="{{ c.pickup_date |date:"c" }}">{{ c.pickup_date | date:"d.m.Y"}}</td>
			<td>{{ c.organisation_from }} </td>
			<td>{{ c.partner_to }}</td>
			<td>{{ c.velos }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}

{% block document-foot %}
<!-- include footable -->
<link rel="stylesheet" type="text/css" href="{% static "css/footable.core.min.css" %}" />
<script type="text/javascript" src="{% static "js/footable.all.min.js" %}"></script>

<!-- init footable -->
<script type="text/javascript">
	$(function () {
		$('.footable').footable();
	});
</script>

{% endblock %}