.breadcrumb {
  margin-top: 65px;
}

img {
	max-width: 100%;
}

img#navbar-logo {
	height: 30px;
}

#beta-flag {
	font-size: 60%;
	opacity: 0.8;
}

#velo-counter-filter a:hover {
  text-decoration: none;
  opacity: 0.8;
}

.modal-header-img {
  padding: 80px;
  background-size: 100%;
}

div.jumbotron#velotracking {
	background: url("../img/VfA_VeloTrackingHeader.a1e1621cf0f1.jpg");
	background-size: 100%;
  	background-position: -0px -40px;
}

.big-glyphicon {
	font-size: 1.5em;
}

@media(min-width: 768px) {
	div.jumbotron#velotracking {
		height: 400px;
	}
	.modal-header-img {
	  padding: 160px;
	  background-size: 100%;
	}
}

/* Velo Spende Button */

#donate {
	font-family: 'Open Sans';
    background-image: url(http://velafrica.ch/images/donate_bg_velafrica.ch.png);
    position: absolute;
    top: 400px;
    margin-left: 540px;
    width: 180px;
    height: 180px;
    z-index: 999;
    background-repeat: no-repeat;
    cursor: pointer;
}

#donateText {
    float: left;
    width: 130px;
    height: 135px;
    margin-left: 25px;
    margin-top: 22px;
    text-align: center;
    background: blue;
    z-index: 999;
    color: #FFFFFF;
    font-weight: bold;
}

#donateText h1 {
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    border-bottom: 1px solid #FFFFFF;
}