.breadcrumb {
  margin-top: 65px;
}

img {
	max-width: 100%;
}

img#navbar-logo {
	height: 30px;
}

#beta-flag {
	font-size: 60%;
	opacity: 0.8;
}

#velo-counter-filter a:hover {
  text-decoration: none;
  opacity: 0.8;
}

div.jumbotron#velotracking {
	background: url("../img/VfA_VeloTrackingHeader.6d504bacb7d1.jpg");
	background-size: 100%;
}