@media screen {
	html {
		background: #aaa;
	}
	
	.request {
		margin-bottom: 2cm;
	}
}
        
body {
	width: 100%;
	max-width: 21cm;
	margin: 0 auto;
	padding: 0;
	font: 10pt "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

p, h1 {
	margin: 0;
	padding: 0;
}


/* Header */

header {
	margin-bottom: 22px;
}

header .title span {
	font-size: 20px;
}

header div {
	display: inline-block;
}

header .logo {
	float: right;
	margin-top: -25px;
}


/* Transport Request Formatting */

.request {
	padding: 1.5cm;
	background: white;
	clear: both;
	page-break-after: always;
}

.request .table-caption {
	font-size: 11pt;
	margin-top: 12px;
	margin-bottom: 5px;
}

.request .part {
	page-break-inside: avoid;
}

.request table {
	width: 100%;
	margin-bottom: 0;
	border-collapse: collapse;
	border-spacing: 0;
}

.request td {
	border: 1px solid #777;
	padding: 2px 4px;
	min-width: 3cm;
}

.request td.label {
	background: #e0e0e0;
	width: 3cm;
}

.request .note {
	font-size: 8pt;
}


/* signature style */

.agb td {
	border: none;
	min-width: 0;
	padding: 6px 0 4px;
}

.agb td.agb-text {
	font-size: 9pt;
}

.agb .signature td {
	padding-top: 12px;
}

.agb .signature .gap {
	width: 0.5cm;
}

.agb .signature .fill-out {
	min-width: 5cm;
	border-bottom: 1px solid #333;
	padding-top: 0;
	margin-top: 0;
}

